body {
  margin:0px;
  background-image:url('../../images/产品简介/bg.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:1350px 134px;
  position:relative;
  left:-0px;
  width:2025px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:80px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 40, 40, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10825 {
  position:absolute;
  left:-14px;
  top:0px;
  width:1349px;
  height:80px;
}
#u10826 {
  position:absolute;
  left:2px;
  top:32px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:81px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 40, 40, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10827 {
  position:absolute;
  left:-14px;
  top:0px;
  width:251px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10827_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:81px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10827.mouseOver {
}
#u10828 {
  position:absolute;
  left:2px;
  top:32px;
  width:247px;
  word-wrap:break-word;
}
#u10829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:81px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10829 {
  position:absolute;
  left:237px;
  top:0px;
  width:187px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10830 {
  position:absolute;
  left:2px;
  top:32px;
  width:183px;
  word-wrap:break-word;
}
#u10831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:81px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 40, 40, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10831 {
  position:absolute;
  left:424px;
  top:0px;
  width:187px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10831_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:81px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10831.mouseOver {
}
#u10832 {
  position:absolute;
  left:2px;
  top:32px;
  width:183px;
  word-wrap:break-word;
}
#u10833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:81px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 40, 40, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10833 {
  position:absolute;
  left:611px;
  top:0px;
  width:187px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10833_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:81px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10833.mouseOver {
}
#u10834 {
  position:absolute;
  left:2px;
  top:32px;
  width:183px;
  word-wrap:break-word;
}
#u10835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10835 {
  position:absolute;
  left:-15px;
  top:80px;
  width:1350px;
  height:54px;
}
#u10836 {
  position:absolute;
  left:2px;
  top:19px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10837 {
  position:absolute;
  left:1203px;
  top:22px;
  width:106px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10838 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u10839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:70px;
}
#u10839 {
  position:absolute;
  left:3px;
  top:6px;
  width:99px;
  height:70px;
}
#u10840 {
  position:absolute;
  left:2px;
  top:27px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10841 {
  position:absolute;
  left:247px;
  top:85px;
  width:187px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10841_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10841.mouseOver {
}
#u10842 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u10843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10843 {
  position:absolute;
  left:444px;
  top:85px;
  width:187px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10843_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10843.mouseOver {
}
#u10844 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u10845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10845 {
  position:absolute;
  left:641px;
  top:85px;
  width:187px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10845_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10845.mouseOver {
}
#u10846 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u10847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10847 {
  position:absolute;
  left:838px;
  top:85px;
  width:187px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10847_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10847.mouseOver {
}
#u10848 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u10849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10849 {
  position:absolute;
  left:1035px;
  top:85px;
  width:187px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10849_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10849.mouseOver {
}
#u10850 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u10851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10851 {
  position:absolute;
  left:1774px;
  top:223px;
  width:157px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10852 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u10853 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:836px;
}
#u10854 {
  position:absolute;
  left:1035px;
  top:277px;
  width:425px;
  height:836px;
}
#u10855 {
  position:absolute;
  left:2px;
  top:410px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10856 {
  position:absolute;
  left:1054px;
  top:344px;
  width:379px;
  height:671px;
}
#u10857 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:671px;
}
#u10858 {
  position:absolute;
  left:1054px;
  top:344px;
  width:377px;
  height:671px;
}
#u10859 {
  position:absolute;
  left:2px;
  top:328px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10860 {
  position:absolute;
  left:1054px;
  top:406px;
  width:377px;
  height:49px;
}
#u10861 {
  position:absolute;
  left:2px;
  top:16px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10862 {
  position:absolute;
  left:1087px;
  top:465px;
  width:321px;
  height:266px;
}
#u10863 {
  position:absolute;
  left:2px;
  top:125px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:531px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10864 {
  position:absolute;
  left:1087px;
  top:430px;
  width:321px;
  height:531px;
}
#u10865 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  word-wrap:break-word;
}
#u10866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10866 {
  position:absolute;
  left:1158px;
  top:234px;
  width:157px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10867 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u10868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10868 {
  position:absolute;
  left:1054px;
  top:452px;
  width:33px;
  height:170px;
}
#u10869 {
  position:absolute;
  left:2px;
  top:77px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10870 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:836px;
}
#u10871 {
  position:absolute;
  left:1615px;
  top:277px;
  width:425px;
  height:836px;
}
#u10872 {
  position:absolute;
  left:2px;
  top:410px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10873 {
  position:absolute;
  left:1634px;
  top:344px;
  width:379px;
  height:671px;
}
#u10874 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:671px;
}
#u10875 {
  position:absolute;
  left:1634px;
  top:344px;
  width:377px;
  height:671px;
}
#u10876 {
  position:absolute;
  left:2px;
  top:328px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10877 {
  position:absolute;
  left:1634px;
  top:406px;
  width:377px;
  height:49px;
}
#u10878 {
  position:absolute;
  left:2px;
  top:16px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10879 {
  position:absolute;
  left:1667px;
  top:465px;
  width:321px;
  height:266px;
}
#u10880 {
  position:absolute;
  left:2px;
  top:125px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:531px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10881 {
  position:absolute;
  left:1667px;
  top:430px;
  width:321px;
  height:531px;
}
#u10882 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  word-wrap:break-word;
}
#u10883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10883 {
  position:absolute;
  left:1634px;
  top:452px;
  width:33px;
  height:170px;
}
#u10884 {
  position:absolute;
  left:2px;
  top:77px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10885 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:836px;
}
#u10886 {
  position:absolute;
  left:444px;
  top:266px;
  width:425px;
  height:836px;
}
#u10887 {
  position:absolute;
  left:2px;
  top:410px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10888 {
  position:absolute;
  left:463px;
  top:333px;
  width:379px;
  height:671px;
}
#u10889 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:672px;
}
#u10890 {
  position:absolute;
  left:463px;
  top:333px;
  width:379px;
  height:672px;
}
#u10891 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10892 {
  position:absolute;
  left:580px;
  top:223px;
  width:145px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10893 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u10894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10894 {
  position:absolute;
  left:484px;
  top:947px;
  width:337px;
  height:35px;
  font-size:16px;
}
#u10895 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
