body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:924px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:836px;
}
#u18877 {
  position:absolute;
  left:499px;
  top:199px;
  width:425px;
  height:836px;
}
#u18878 {
  position:absolute;
  left:2px;
  top:410px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18879 {
  position:absolute;
  left:518px;
  top:266px;
  width:379px;
  height:671px;
}
#u18880 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u18881 {
  position:absolute;
  left:517px;
  top:266px;
  width:380px;
  height:676px;
}
#u18882 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:334px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18883 {
  position:absolute;
  left:517px;
  top:942px;
  width:380px;
  height:334px;
}
#u18884 {
  position:absolute;
  left:2px;
  top:159px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18885 {
  position:absolute;
  left:517px;
  top:947px;
  width:379px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18886 {
  position:absolute;
  left:2px;
  top:6px;
  width:375px;
  word-wrap:break-word;
}
#u18887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18887 {
  position:absolute;
  left:638px;
  top:140px;
  width:145px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18888 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u18889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18889 {
  position:absolute;
  left:517px;
  top:982px;
  width:379px;
  height:141px;
}
#u18890 {
  position:absolute;
  left:2px;
  top:62px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18891 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u18893 {
  position:absolute;
  left:529px;
  top:1133px;
  width:48px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18894 {
  position:absolute;
  left:2px;
  top:15px;
  width:44px;
  word-wrap:break-word;
}
#u18895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u18895 {
  position:absolute;
  left:590px;
  top:1133px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u18896 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u18897 {
  position:absolute;
  left:590px;
  top:1153px;
  width:77px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u18898 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u18899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u18899 {
  position:absolute;
  left:590px;
  top:1174px;
  width:301px;
  height:68px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u18900 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u18901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18901 {
  position:absolute;
  left:518px;
  top:1252px;
  width:379px;
  height:39px;
}
#u18902 {
  position:absolute;
  left:2px;
  top:12px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:2px;
}
#u18903 {
  position:absolute;
  left:518px;
  top:1237px;
  width:379px;
  height:1px;
}
#u18904 {
  position:absolute;
  left:2px;
  top:-8px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u18905 {
  position:absolute;
  left:524px;
  top:1258px;
  width:207px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u18906 {
  position:absolute;
  left:2px;
  top:4px;
  width:203px;
  word-wrap:break-word;
}
#u18907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18907 {
  position:absolute;
  left:746px;
  top:1262px;
  width:50px;
  height:20px;
}
#u18908 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u18909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18909 {
  position:absolute;
  left:832px;
  top:1262px;
  width:50px;
  height:20px;
}
#u18910 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u18911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u18912 {
  position:absolute;
  left:533px;
  top:999px;
  width:48px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18913 {
  position:absolute;
  left:2px;
  top:15px;
  width:44px;
  word-wrap:break-word;
}
#u18914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u18914 {
  position:absolute;
  left:594px;
  top:999px;
  width:61px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u18915 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u18916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u18916 {
  position:absolute;
  left:594px;
  top:1019px;
  width:77px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u18917 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u18918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6633FF;
}
#u18918 {
  position:absolute;
  left:594px;
  top:1040px;
  width:289px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6633FF;
}
#u18919 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u18920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u18920 {
  position:absolute;
  left:568px;
  top:1032px;
  width:13px;
  height:15px;
}
#u18921 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18922 {
  position:absolute;
  left:817px;
  top:1097px;
  width:66px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18923 {
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
