body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:924px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25353 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:836px;
}
#u25354 {
  position:absolute;
  left:499px;
  top:200px;
  width:425px;
  height:836px;
}
#u25355 {
  position:absolute;
  left:2px;
  top:410px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25356 {
  position:absolute;
  left:518px;
  top:267px;
  width:379px;
  height:671px;
}
#u25357 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25358 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:687px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25359 {
  position:absolute;
  left:518px;
  top:267px;
  width:379px;
  height:687px;
}
#u25360 {
  position:absolute;
  left:2px;
  top:336px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25361 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25362 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25363 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:66px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u25364 {
  position:absolute;
  left:518px;
  top:267px;
  width:379px;
  height:66px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u25365 {
  position:absolute;
  left:0px;
  top:30px;
  width:379px;
  word-wrap:break-word;
}
#u25366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:15px;
}
#u25366 {
  position:absolute;
  left:524px;
  top:271px;
  width:368px;
  height:15px;
}
#u25367 {
  position:absolute;
  left:2px;
  top:0px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25368 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25369 {
  position:absolute;
  left:555px;
  top:299px;
  width:61px;
  height:20px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25370 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u25371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u25371 {
  position:absolute;
  left:536px;
  top:299px;
  width:19px;
  height:21px;
  font-family:'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u25372 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u25373 {
  position:absolute;
  left:862px;
  top:299px;
  width:15px;
  height:16px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u25374 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u25375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u25375 {
  position:absolute;
  left:639px;
  top:141px;
  width:145px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u25376 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u25377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:687px;
}
#u25377 {
  position:absolute;
  left:518px;
  top:267px;
  width:379px;
  height:687px;
}
#u25378 {
  position:absolute;
  left:2px;
  top:336px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:23px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u25379 {
  position:absolute;
  left:798px;
  top:561px;
  width:79px;
  height:23px;
  font-size:12px;
}
#u25380 {
  position:absolute;
  left:2px;
  top:3px;
  width:75px;
  word-wrap:break-word;
}
#u25381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:23px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u25381 {
  position:absolute;
  left:798px;
  top:400px;
  width:79px;
  height:23px;
  font-size:12px;
}
#u25382 {
  position:absolute;
  left:2px;
  top:3px;
  width:75px;
  word-wrap:break-word;
}
#u25383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:621px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25383 {
  position:absolute;
  left:518px;
  top:333px;
  width:379px;
  height:621px;
}
#u25384 {
  position:absolute;
  left:2px;
  top:302px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25385 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25386 {
  position:absolute;
  left:520px;
  top:347px;
  width:379px;
  height:91px;
}
#u25387 {
  position:absolute;
  left:2px;
  top:38px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u25388 {
  position:absolute;
  left:529px;
  top:364px;
  width:59px;
  height:57px;
}
#u25389 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25390 {
  position:absolute;
  left:598px;
  top:366px;
  width:29px;
  height:20px;
}
#u25391 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25392 {
  position:absolute;
  left:598px;
  top:399px;
  width:213px;
  height:20px;
}
#u25393 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u25394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25394 {
  position:absolute;
  left:520px;
  top:448px;
  width:379px;
  height:91px;
}
#u25395 {
  position:absolute;
  left:2px;
  top:38px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u25396 {
  position:absolute;
  left:529px;
  top:465px;
  width:59px;
  height:57px;
}
#u25397 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25398 {
  position:absolute;
  left:598px;
  top:467px;
  width:29px;
  height:20px;
}
#u25399 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u25400 {
  position:absolute;
  left:573px;
  top:507px;
  width:13px;
  height:15px;
}
#u25401 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25402 {
  position:absolute;
  left:598px;
  top:500px;
  width:213px;
  height:20px;
}
#u25403 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u25404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25404 {
  position:absolute;
  left:811px;
  top:397px;
  width:78px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25405 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u25406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25406 {
  position:absolute;
  left:816px;
  top:495px;
  width:78px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25407 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u25408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25408 {
  position:absolute;
  left:808px;
  top:367px;
  width:84px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25409 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u25410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25410 {
  position:absolute;
  left:805px;
  top:465px;
  width:84px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25411 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u25412 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25413 {
  position:absolute;
  left:520px;
  top:549px;
  width:379px;
  height:91px;
}
#u25414 {
  position:absolute;
  left:2px;
  top:38px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u25415 {
  position:absolute;
  left:529px;
  top:566px;
  width:59px;
  height:57px;
}
#u25416 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25417 {
  position:absolute;
  left:598px;
  top:568px;
  width:29px;
  height:20px;
}
#u25418 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25419 {
  position:absolute;
  left:598px;
  top:601px;
  width:213px;
  height:20px;
}
#u25420 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u25421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25421 {
  position:absolute;
  left:520px;
  top:650px;
  width:379px;
  height:91px;
}
#u25422 {
  position:absolute;
  left:2px;
  top:38px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u25423 {
  position:absolute;
  left:529px;
  top:667px;
  width:59px;
  height:57px;
}
#u25424 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25425 {
  position:absolute;
  left:598px;
  top:669px;
  width:29px;
  height:20px;
}
#u25426 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u25427 {
  position:absolute;
  left:573px;
  top:709px;
  width:13px;
  height:15px;
}
#u25428 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25429 {
  position:absolute;
  left:598px;
  top:702px;
  width:213px;
  height:20px;
}
#u25430 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u25431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25431 {
  position:absolute;
  left:811px;
  top:599px;
  width:78px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25432 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u25433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25433 {
  position:absolute;
  left:816px;
  top:697px;
  width:78px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25434 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u25435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25435 {
  position:absolute;
  left:808px;
  top:569px;
  width:84px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25436 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u25437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25437 {
  position:absolute;
  left:805px;
  top:667px;
  width:84px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25438 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u25439 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25440 {
  position:absolute;
  left:518px;
  top:751px;
  width:379px;
  height:91px;
}
#u25441 {
  position:absolute;
  left:2px;
  top:38px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u25442 {
  position:absolute;
  left:527px;
  top:768px;
  width:59px;
  height:57px;
}
#u25443 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25444 {
  position:absolute;
  left:596px;
  top:770px;
  width:29px;
  height:20px;
}
#u25445 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25446 {
  position:absolute;
  left:596px;
  top:803px;
  width:213px;
  height:20px;
}
#u25447 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u25448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25448 {
  position:absolute;
  left:518px;
  top:852px;
  width:379px;
  height:91px;
}
#u25449 {
  position:absolute;
  left:2px;
  top:38px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u25450 {
  position:absolute;
  left:527px;
  top:869px;
  width:59px;
  height:57px;
}
#u25451 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25452 {
  position:absolute;
  left:596px;
  top:871px;
  width:29px;
  height:20px;
}
#u25453 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u25454 {
  position:absolute;
  left:571px;
  top:911px;
  width:13px;
  height:15px;
}
#u25455 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25456 {
  position:absolute;
  left:596px;
  top:904px;
  width:213px;
  height:20px;
}
#u25457 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u25458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25458 {
  position:absolute;
  left:809px;
  top:801px;
  width:78px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25459 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u25460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25460 {
  position:absolute;
  left:814px;
  top:899px;
  width:78px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25461 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u25462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25462 {
  position:absolute;
  left:806px;
  top:771px;
  width:84px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25463 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u25464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25464 {
  position:absolute;
  left:803px;
  top:869px;
  width:84px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25465 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u25466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:621px;
  background:inherit;
  background-color:rgba(13, 13, 13, 0.458823529411765);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25466 {
  position:absolute;
  left:518px;
  top:333px;
  width:379px;
  height:621px;
}
#u25467 {
  position:absolute;
  left:2px;
  top:302px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25468 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:242px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25469 {
  position:absolute;
  left:577px;
  top:500px;
  width:266px;
  height:242px;
}
#u25470 {
  position:absolute;
  left:2px;
  top:113px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25471 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u25472 {
  position:absolute;
  left:677px;
  top:540px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u25473 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u25474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u25474 {
  position:absolute;
  left:674px;
  top:600px;
  width:79px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u25475 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u25476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u25476 {
  position:absolute;
  left:692px;
  top:673px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u25477 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
