body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:925px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25397 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:836px;
}
#u25398 {
  position:absolute;
  left:500px;
  top:200px;
  width:425px;
  height:836px;
}
#u25399 {
  position:absolute;
  left:2px;
  top:410px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25400 {
  position:absolute;
  left:519px;
  top:267px;
  width:379px;
  height:671px;
}
#u25401 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25402 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:680px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25403 {
  position:absolute;
  left:523px;
  top:274px;
  width:379px;
  height:680px;
}
#u25404 {
  position:absolute;
  left:2px;
  top:332px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25405 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25406 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25407 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:65px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u25408 {
  position:absolute;
  left:523px;
  top:274px;
  width:379px;
  height:65px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u25409 {
  position:absolute;
  left:0px;
  top:30px;
  width:379px;
  word-wrap:break-word;
}
#u25410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:15px;
}
#u25410 {
  position:absolute;
  left:529px;
  top:278px;
  width:368px;
  height:15px;
}
#u25411 {
  position:absolute;
  left:2px;
  top:0px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25412 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25413 {
  position:absolute;
  left:560px;
  top:306px;
  width:61px;
  height:20px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25414 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u25415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u25415 {
  position:absolute;
  left:541px;
  top:306px;
  width:19px;
  height:21px;
  font-family:'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u25416 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u25417 {
  position:absolute;
  left:867px;
  top:306px;
  width:15px;
  height:16px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u25418 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u25419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u25419 {
  position:absolute;
  left:668px;
  top:147px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u25420 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u25421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:687px;
}
#u25421 {
  position:absolute;
  left:519px;
  top:267px;
  width:379px;
  height:687px;
}
#u25422 {
  position:absolute;
  left:2px;
  top:336px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:23px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u25423 {
  position:absolute;
  left:803px;
  top:568px;
  width:79px;
  height:23px;
  font-size:12px;
}
#u25424 {
  position:absolute;
  left:2px;
  top:3px;
  width:75px;
  word-wrap:break-word;
}
#u25425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:23px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u25425 {
  position:absolute;
  left:803px;
  top:407px;
  width:79px;
  height:23px;
  font-size:12px;
}
#u25426 {
  position:absolute;
  left:2px;
  top:3px;
  width:75px;
  word-wrap:break-word;
}
#u25427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:621px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25427 {
  position:absolute;
  left:518px;
  top:333px;
  width:379px;
  height:621px;
}
#u25428 {
  position:absolute;
  left:2px;
  top:302px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25429 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25430 {
  position:absolute;
  left:520px;
  top:347px;
  width:379px;
  height:91px;
}
#u25431 {
  position:absolute;
  left:2px;
  top:38px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u25432 {
  position:absolute;
  left:529px;
  top:364px;
  width:59px;
  height:57px;
}
#u25433 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25434 {
  position:absolute;
  left:598px;
  top:366px;
  width:29px;
  height:20px;
}
#u25435 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25436 {
  position:absolute;
  left:598px;
  top:399px;
  width:213px;
  height:20px;
}
#u25437 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u25438 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25439 {
  position:absolute;
  left:520px;
  top:549px;
  width:379px;
  height:91px;
}
#u25440 {
  position:absolute;
  left:2px;
  top:38px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u25441 {
  position:absolute;
  left:529px;
  top:566px;
  width:59px;
  height:57px;
}
#u25442 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25443 {
  position:absolute;
  left:598px;
  top:568px;
  width:29px;
  height:20px;
}
#u25444 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25445 {
  position:absolute;
  left:598px;
  top:601px;
  width:213px;
  height:20px;
}
#u25446 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u25447 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25448 {
  position:absolute;
  left:518px;
  top:751px;
  width:379px;
  height:91px;
}
#u25449 {
  position:absolute;
  left:2px;
  top:38px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u25450 {
  position:absolute;
  left:527px;
  top:768px;
  width:59px;
  height:57px;
}
#u25451 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25452 {
  position:absolute;
  left:596px;
  top:770px;
  width:29px;
  height:20px;
}
#u25453 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25454 {
  position:absolute;
  left:596px;
  top:803px;
  width:213px;
  height:20px;
}
#u25455 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u25456 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25457 {
  position:absolute;
  left:521px;
  top:448px;
  width:379px;
  height:91px;
}
#u25458 {
  position:absolute;
  left:2px;
  top:38px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u25459 {
  position:absolute;
  left:530px;
  top:465px;
  width:59px;
  height:57px;
}
#u25460 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25461 {
  position:absolute;
  left:599px;
  top:467px;
  width:29px;
  height:20px;
}
#u25462 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25463 {
  position:absolute;
  left:599px;
  top:500px;
  width:213px;
  height:20px;
}
#u25464 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u25465 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25466 {
  position:absolute;
  left:518px;
  top:650px;
  width:379px;
  height:91px;
}
#u25467 {
  position:absolute;
  left:2px;
  top:38px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u25468 {
  position:absolute;
  left:527px;
  top:667px;
  width:59px;
  height:57px;
}
#u25469 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25470 {
  position:absolute;
  left:596px;
  top:669px;
  width:29px;
  height:20px;
}
#u25471 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25472 {
  position:absolute;
  left:596px;
  top:702px;
  width:213px;
  height:20px;
}
#u25473 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u25474 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25475 {
  position:absolute;
  left:518px;
  top:852px;
  width:379px;
  height:91px;
}
#u25476 {
  position:absolute;
  left:2px;
  top:38px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u25477 {
  position:absolute;
  left:527px;
  top:869px;
  width:59px;
  height:57px;
}
#u25478 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25479 {
  position:absolute;
  left:596px;
  top:871px;
  width:29px;
  height:20px;
}
#u25480 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25481 {
  position:absolute;
  left:596px;
  top:904px;
  width:213px;
  height:20px;
}
#u25482 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u25483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:621px;
  background:inherit;
  background-color:rgba(13, 13, 13, 0.458823529411765);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25483 {
  position:absolute;
  left:518px;
  top:333px;
  width:381px;
  height:621px;
}
#u25484 {
  position:absolute;
  left:2px;
  top:302px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25485 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:242px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25486 {
  position:absolute;
  left:576px;
  top:495px;
  width:266px;
  height:242px;
}
#u25487 {
  position:absolute;
  left:2px;
  top:113px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u25488 {
  position:absolute;
  left:672px;
  top:517px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u25489 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u25490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u25490 {
  position:absolute;
  left:595px;
  top:579px;
  width:235px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u25491 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
