body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:925px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19145 {
  position:absolute;
  left:546px;
  top:121px;
  width:321px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19146 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u19147 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:836px;
}
#u19148 {
  position:absolute;
  left:500px;
  top:202px;
  width:425px;
  height:836px;
}
#u19149 {
  position:absolute;
  left:2px;
  top:410px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19150 {
  position:absolute;
  left:519px;
  top:269px;
  width:379px;
  height:671px;
}
#u19151 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19152 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19153 {
  position:absolute;
  left:521px;
  top:270px;
  width:379px;
  height:671px;
}
#u19154 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19155 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19156 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19157 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:65px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u19158 {
  position:absolute;
  left:521px;
  top:270px;
  width:379px;
  height:65px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u19159 {
  position:absolute;
  left:0px;
  top:30px;
  width:379px;
  word-wrap:break-word;
}
#u19160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:14px;
}
#u19160 {
  position:absolute;
  left:527px;
  top:274px;
  width:368px;
  height:14px;
}
#u19161 {
  position:absolute;
  left:2px;
  top:-1px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19162 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u19163 {
  position:absolute;
  left:558px;
  top:302px;
  width:61px;
  height:20px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u19164 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u19165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u19165 {
  position:absolute;
  left:539px;
  top:302px;
  width:19px;
  height:20px;
  font-family:'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u19166 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u19167 {
  position:absolute;
  left:865px;
  top:302px;
  width:15px;
  height:16px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u19168 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u19169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:212px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19169 {
  position:absolute;
  left:521px;
  top:338px;
  width:379px;
  height:212px;
}
#u19170 {
  position:absolute;
  left:2px;
  top:98px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u19171 {
  position:absolute;
  left:685px;
  top:443px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u19172 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u19173 {
  position:absolute;
  left:678px;
  top:366px;
  width:64px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19174 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u19175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u19175 {
  position:absolute;
  left:723px;
  top:414px;
  width:19px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19176 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u19177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:430px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19177 {
  position:absolute;
  left:521px;
  top:602px;
  width:379px;
  height:430px;
}
#u19178 {
  position:absolute;
  left:2px;
  top:207px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:37px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19179 {
  position:absolute;
  left:520px;
  top:559px;
  width:381px;
  height:37px;
}
#u19180 {
  position:absolute;
  left:2px;
  top:10px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u19181 {
  position:absolute;
  left:576px;
  top:565px;
  width:55px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u19182 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u19183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u19183 {
  position:absolute;
  left:692px;
  top:565px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u19184 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u19185 {
  position:absolute;
  left:807px;
  top:565px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u19186 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:4px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19187 {
  position:absolute;
  left:586px;
  top:592px;
  width:33px;
  height:4px;
}
#u19188 {
  position:absolute;
  left:2px;
  top:-6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19189 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u19190 {
  position:absolute;
  left:628px;
  top:616px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u19191 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19192 {
  position:absolute;
  left:533px;
  top:617px;
  width:57px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19193 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:2px;
}
#u19194 {
  position:absolute;
  left:533px;
  top:649px;
  width:356px;
  height:1px;
}
#u19195 {
  position:absolute;
  left:2px;
  top:-8px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19196 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u19197 {
  position:absolute;
  left:627px;
  top:662px;
  width:113px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u19198 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u19199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19199 {
  position:absolute;
  left:532px;
  top:663px;
  width:48px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19200 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u19201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:2px;
}
#u19201 {
  position:absolute;
  left:532px;
  top:695px;
  width:356px;
  height:1px;
}
#u19202 {
  position:absolute;
  left:2px;
  top:-8px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19203 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u19204 {
  position:absolute;
  left:628px;
  top:711px;
  width:33px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u19205 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19206 {
  position:absolute;
  left:533px;
  top:712px;
  width:43px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19207 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:2px;
}
#u19208 {
  position:absolute;
  left:533px;
  top:744px;
  width:356px;
  height:1px;
}
#u19209 {
  position:absolute;
  left:2px;
  top:-8px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19210 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u19211 {
  position:absolute;
  left:533px;
  top:792px;
  width:374px;
  height:220px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u19212 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  white-space:nowrap;
}
#u19213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19213 {
  position:absolute;
  left:533px;
  top:755px;
  width:57px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19214 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:2px;
}
#u19215 {
  position:absolute;
  left:533px;
  top:781px;
  width:356px;
  height:1px;
}
#u19216 {
  position:absolute;
  left:2px;
  top:-8px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19217 {
  position:absolute;
  left:664px;
  top:473px;
  width:93px;
  height:20px;
}
#u19218 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u19219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19219 {
  position:absolute;
  left:648px;
  top:512px;
  width:113px;
  height:31px;
}
#u19220 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
