body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-2px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:904px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u10619 {
  position:absolute;
  left:2px;
  top:0px;
  width:1440px;
  height:904px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u10620 {
  position:absolute;
  left:2px;
  top:444px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10621 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u10622 {
  position:absolute;
  left:415px;
  top:145px;
  width:117px;
  height:52px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u10623 {
  position:absolute;
  left:0px;
  top:4px;
  width:109px;
  white-space:nowrap;
}
#u10624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  text-align:left;
}
#u10624 {
  position:absolute;
  left:532px;
  top:145px;
  width:345px;
  height:37px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  text-align:left;
}
#u10625 {
  position:absolute;
  left:8px;
  top:5px;
  width:337px;
  word-wrap:break-word;
}
#u10626 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u10627 {
  position:absolute;
  left:415px;
  top:306px;
  width:117px;
  height:52px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u10628 {
  position:absolute;
  left:0px;
  top:4px;
  width:109px;
  white-space:nowrap;
}
#u10629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  text-align:left;
}
#u10629 {
  position:absolute;
  left:532px;
  top:306px;
  width:345px;
  height:37px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  text-align:left;
}
#u10630 {
  position:absolute;
  left:8px;
  top:5px;
  width:337px;
  word-wrap:break-word;
}
#u10631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:57px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u10631 {
  position:absolute;
  left:546px;
  top:549px;
  width:201px;
  height:57px;
  font-size:20px;
}
#u10632 {
  position:absolute;
  left:2px;
  top:14px;
  width:197px;
  word-wrap:break-word;
}
#u10633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u10633 {
  position:absolute;
  left:270px;
  top:925px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u10634 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF3399;
  line-height:18px;
}
#u10635 {
  position:absolute;
  left:272px;
  top:965px;
  width:500px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF3399;
  line-height:18px;
}
#u10636 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u10637_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:95px;
}
#u10637 {
  position:absolute;
  left:254px;
  top:927px;
  width:3px;
  height:92px;
}
#u10638 {
  position:absolute;
  left:2px;
  top:38px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u10639 {
  position:absolute;
  left:822px;
  top:925px;
  width:181px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u10640 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u10641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF3399;
  line-height:18px;
}
#u10641 {
  position:absolute;
  left:824px;
  top:965px;
  width:500px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF3399;
  line-height:18px;
}
#u10642 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u10643_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:78px;
}
#u10643 {
  position:absolute;
  left:806px;
  top:927px;
  width:3px;
  height:75px;
}
#u10644 {
  position:absolute;
  left:2px;
  top:30px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10645_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:74px;
}
#u10645 {
  position:absolute;
  left:715px;
  top:594px;
  width:64px;
  height:64px;
}
#u10646 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
