body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:971px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:505px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9674 {
  position:absolute;
  left:21px;
  top:67px;
  width:364px;
  height:505px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9675 {
  position:absolute;
  left:2px;
  top:244px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9676 {
  position:absolute;
  left:92px;
  top:19px;
  width:187px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9677 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u9678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:91px;
}
#u9678 {
  position:absolute;
  left:216px;
  top:447px;
  width:118px;
  height:90px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9679 {
  position:absolute;
  left:2px;
  top:36px;
  width:114px;
  word-wrap:break-word;
}
#u9680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9680 {
  position:absolute;
  left:37px;
  top:142px;
  width:110px;
  height:66px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9681 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u9682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u9682 {
  position:absolute;
  left:202px;
  top:420px;
  width:143px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u9683 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u9684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9684 {
  position:absolute;
  left:102px;
  top:86px;
  width:167px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9685 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u9686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u9686 {
  position:absolute;
  left:469px;
  top:67px;
  width:109px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u9687 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u9688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u9688 {
  position:absolute;
  left:471px;
  top:107px;
  width:500px;
  height:62px;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u9689 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u9690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:47px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9690 {
  position:absolute;
  left:471px;
  top:273px;
  width:79px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9691 {
  position:absolute;
  left:2px;
  top:14px;
  width:75px;
  word-wrap:break-word;
}
#u9692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:47px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9692 {
  position:absolute;
  left:688px;
  top:273px;
  width:79px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9693 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u9694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:47px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9694 {
  position:absolute;
  left:804px;
  top:273px;
  width:79px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9695 {
  position:absolute;
  left:2px;
  top:14px;
  width:75px;
  word-wrap:break-word;
}
#u9696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:47px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9696 {
  position:absolute;
  left:804px;
  top:363px;
  width:79px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9697 {
  position:absolute;
  left:2px;
  top:14px;
  width:75px;
  word-wrap:break-word;
}
#u9698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:47px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9698 {
  position:absolute;
  left:688px;
  top:363px;
  width:79px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9699 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u9700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:47px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9700 {
  position:absolute;
  left:578px;
  top:363px;
  width:79px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9701 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u9702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:47px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9702 {
  position:absolute;
  left:471px;
  top:363px;
  width:79px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9703 {
  position:absolute;
  left:2px;
  top:14px;
  width:75px;
  word-wrap:break-word;
}
#u9704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9704 {
  position:absolute;
  left:471px;
  top:221px;
  width:109px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9705 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u9706 {
  position:absolute;
  left:767px;
  top:297px;
  width:0px;
  height:0px;
}
#u9706_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:41px;
  height:8px;
}
#u9706_seg1 {
  position:absolute;
  left:22px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9707 {
  position:absolute;
  left:-32px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9708 {
  position:absolute;
  left:688px;
  top:387px;
  width:0px;
  height:0px;
}
#u9708_seg0 {
  position:absolute;
  left:-31px;
  top:-4px;
  width:35px;
  height:8px;
}
#u9708_seg1 {
  position:absolute;
  left:-36px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9709 {
  position:absolute;
  left:-66px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9710 {
  position:absolute;
  left:578px;
  top:387px;
  width:0px;
  height:0px;
}
#u9710_seg0 {
  position:absolute;
  left:-28px;
  top:-4px;
  width:32px;
  height:8px;
}
#u9710_seg1 {
  position:absolute;
  left:-33px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9711 {
  position:absolute;
  left:-64px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:91px;
}
#u9712 {
  position:absolute;
  left:49px;
  top:447px;
  width:118px;
  height:90px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9713 {
  position:absolute;
  left:2px;
  top:36px;
  width:114px;
  word-wrap:break-word;
}
#u9714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
}
#u9714 {
  position:absolute;
  left:39px;
  top:420px;
  width:153px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
}
#u9715 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u9716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:47px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9716 {
  position:absolute;
  left:578px;
  top:273px;
  width:79px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9717 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u9718 {
  position:absolute;
  left:550px;
  top:297px;
  width:0px;
  height:0px;
}
#u9718_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:32px;
  height:8px;
}
#u9718_seg1 {
  position:absolute;
  left:13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9719 {
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9720 {
  position:absolute;
  left:657px;
  top:297px;
  width:0px;
  height:0px;
}
#u9720_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:35px;
  height:8px;
}
#u9720_seg1 {
  position:absolute;
  left:16px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9721 {
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9722 {
  position:absolute;
  left:844px;
  top:320px;
  width:0px;
  height:0px;
}
#u9722_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u9722_seg1 {
  position:absolute;
  left:-10px;
  top:28px;
  width:20px;
  height:20px;
}
#u9723 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9724 {
  position:absolute;
  left:804px;
  top:387px;
  width:0px;
  height:0px;
}
#u9724_seg0 {
  position:absolute;
  left:-37px;
  top:-4px;
  width:41px;
  height:8px;
}
#u9724_seg1 {
  position:absolute;
  left:-42px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9725 {
  position:absolute;
  left:-68px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9726_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:74px;
}
#u9726 {
  position:absolute;
  left:309px;
  top:520px;
  width:64px;
  height:64px;
}
#u9727 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
