body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-118px;
  width:1004px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u23632 {
  position:absolute;
  left:539px;
  top:137px;
  width:129px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u23633 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u23634 {
  position:absolute;
  left:118px;
  top:230px;
  width:1009px;
  height:155px;
}
#u23635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u23635 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u23636 {
  position:absolute;
  left:2px;
  top:6px;
  width:149px;
  word-wrap:break-word;
}
#u23637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:30px;
}
#u23637 {
  position:absolute;
  left:153px;
  top:0px;
  width:723px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u23638 {
  position:absolute;
  left:2px;
  top:6px;
  width:719px;
  word-wrap:break-word;
}
#u23639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u23639 {
  position:absolute;
  left:876px;
  top:0px;
  width:128px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u23640 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u23641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u23641 {
  position:absolute;
  left:0px;
  top:30px;
  width:153px;
  height:30px;
  text-align:left;
}
#u23642 {
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u23643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:30px;
}
#u23643 {
  position:absolute;
  left:153px;
  top:30px;
  width:723px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u23644 {
  position:absolute;
  left:2px;
  top:6px;
  width:719px;
  word-wrap:break-word;
}
#u23645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u23645 {
  position:absolute;
  left:876px;
  top:30px;
  width:128px;
  height:30px;
}
#u23646 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u23647 {
  position:absolute;
  left:0px;
  top:60px;
  width:153px;
  height:30px;
  text-align:left;
}
#u23648 {
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u23649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:30px;
}
#u23649 {
  position:absolute;
  left:153px;
  top:60px;
  width:723px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u23650 {
  position:absolute;
  left:2px;
  top:6px;
  width:719px;
  word-wrap:break-word;
}
#u23651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u23651 {
  position:absolute;
  left:876px;
  top:60px;
  width:128px;
  height:30px;
}
#u23652 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u23653 {
  position:absolute;
  left:0px;
  top:90px;
  width:153px;
  height:30px;
}
#u23654 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:30px;
}
#u23655 {
  position:absolute;
  left:153px;
  top:90px;
  width:723px;
  height:30px;
}
#u23656 {
  position:absolute;
  left:2px;
  top:7px;
  width:719px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u23657 {
  position:absolute;
  left:876px;
  top:90px;
  width:128px;
  height:30px;
}
#u23658 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u23659 {
  position:absolute;
  left:0px;
  top:120px;
  width:153px;
  height:30px;
}
#u23660 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:30px;
}
#u23661 {
  position:absolute;
  left:153px;
  top:120px;
  width:723px;
  height:30px;
}
#u23662 {
  position:absolute;
  left:2px;
  top:7px;
  width:719px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u23663 {
  position:absolute;
  left:876px;
  top:120px;
  width:128px;
  height:30px;
}
#u23664 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
