body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-118px;
  width:1004px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u23306 {
  position:absolute;
  left:539px;
  top:137px;
  width:129px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u23307 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u23308 {
  position:absolute;
  left:118px;
  top:230px;
  width:1009px;
  height:155px;
}
#u23309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u23309 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u23310 {
  position:absolute;
  left:2px;
  top:6px;
  width:149px;
  word-wrap:break-word;
}
#u23311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:30px;
}
#u23311 {
  position:absolute;
  left:153px;
  top:0px;
  width:723px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u23312 {
  position:absolute;
  left:2px;
  top:6px;
  width:719px;
  word-wrap:break-word;
}
#u23313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u23313 {
  position:absolute;
  left:876px;
  top:0px;
  width:128px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u23314 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u23315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u23315 {
  position:absolute;
  left:0px;
  top:30px;
  width:153px;
  height:30px;
  text-align:left;
}
#u23316 {
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u23317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:30px;
}
#u23317 {
  position:absolute;
  left:153px;
  top:30px;
  width:723px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u23318 {
  position:absolute;
  left:2px;
  top:6px;
  width:719px;
  word-wrap:break-word;
}
#u23319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u23319 {
  position:absolute;
  left:876px;
  top:30px;
  width:128px;
  height:30px;
}
#u23320 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u23321 {
  position:absolute;
  left:0px;
  top:60px;
  width:153px;
  height:30px;
}
#u23322 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:30px;
}
#u23323 {
  position:absolute;
  left:153px;
  top:60px;
  width:723px;
  height:30px;
}
#u23324 {
  position:absolute;
  left:2px;
  top:7px;
  width:719px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u23325 {
  position:absolute;
  left:876px;
  top:60px;
  width:128px;
  height:30px;
}
#u23326 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u23327 {
  position:absolute;
  left:0px;
  top:90px;
  width:153px;
  height:30px;
}
#u23328 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:30px;
}
#u23329 {
  position:absolute;
  left:153px;
  top:90px;
  width:723px;
  height:30px;
}
#u23330 {
  position:absolute;
  left:2px;
  top:7px;
  width:719px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u23331 {
  position:absolute;
  left:876px;
  top:90px;
  width:128px;
  height:30px;
}
#u23332 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u23333 {
  position:absolute;
  left:0px;
  top:120px;
  width:153px;
  height:30px;
}
#u23334 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:30px;
}
#u23335 {
  position:absolute;
  left:153px;
  top:120px;
  width:723px;
  height:30px;
}
#u23336 {
  position:absolute;
  left:2px;
  top:7px;
  width:719px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u23337 {
  position:absolute;
  left:876px;
  top:120px;
  width:128px;
  height:30px;
}
#u23338 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
