body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1537px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u30966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u30966 {
  position:absolute;
  left:329px;
  top:43px;
  width:235px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u30967 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u30968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:458px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30968 {
  position:absolute;
  left:18px;
  top:105px;
  width:820px;
  height:458px;
}
#u30969 {
  position:absolute;
  left:2px;
  top:221px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u30970 {
  position:absolute;
  left:311px;
  top:135px;
  width:231px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u30971 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u30972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30973 {
  position:absolute;
  left:233px;
  top:184px;
  width:358px;
  height:204px;
}
#u30974 {
  position:absolute;
  left:2px;
  top:94px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:32px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30975 {
  position:absolute;
  left:308px;
  top:234px;
  width:219px;
  height:32px;
}
#u30976 {
  position:absolute;
  left:2px;
  top:8px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30977 {
  position:absolute;
  left:248px;
  top:240px;
  width:43px;
  height:20px;
}
#u30978 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u30979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u30979 {
  position:absolute;
  left:314px;
  top:199px;
  width:213px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u30980 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u30981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30981 {
  position:absolute;
  left:248px;
  top:276px;
  width:247px;
  height:100px;
}
#u30982 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u30983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u30983 {
  position:absolute;
  left:63px;
  top:420px;
  width:10px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u30984 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  visibility:hidden;
  white-space:nowrap;
}
#u30985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u30985 {
  position:absolute;
  left:63px;
  top:411px;
  width:145px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u30986 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u30987 {
  position:absolute;
  left:198px;
  top:1017px;
  width:0px;
  height:0px;
}
#u30987_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:49px;
  height:8px;
}
#u30987_seg1 {
  position:absolute;
  left:30px;
  top:-10px;
  width:20px;
  height:20px;
}
#u30988 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30989 {
  position:absolute;
  left:315px;
  top:1057px;
  width:0px;
  height:0px;
}
#u30989_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:17px;
}
#u30989_seg1 {
  position:absolute;
  left:-4px;
  top:9px;
  width:123px;
  height:8px;
}
#u30989_seg2 {
  position:absolute;
  left:111px;
  top:-101px;
  width:8px;
  height:118px;
}
#u30989_seg3 {
  position:absolute;
  left:111px;
  top:-101px;
  width:90px;
  height:8px;
}
#u30989_seg4 {
  position:absolute;
  left:193px;
  top:-101px;
  width:8px;
  height:20px;
}
#u30989_seg5 {
  position:absolute;
  left:187px;
  top:-96px;
  width:20px;
  height:20px;
}
#u30990 {
  position:absolute;
  left:65px;
  top:-35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30991 {
  position:absolute;
  left:440px;
  top:1017px;
  width:0px;
  height:0px;
}
#u30991_seg0 {
  position:absolute;
  left:-14px;
  top:-4px;
  width:14px;
  height:8px;
}
#u30991_seg1 {
  position:absolute;
  left:-14px;
  top:-4px;
  width:8px;
  height:61px;
}
#u30991_seg2 {
  position:absolute;
  left:-14px;
  top:49px;
  width:388px;
  height:8px;
}
#u30991_seg3 {
  position:absolute;
  left:366px;
  top:-4px;
  width:8px;
  height:61px;
}
#u30991_seg4 {
  position:absolute;
  left:351px;
  top:-4px;
  width:23px;
  height:8px;
}
#u30991_seg5 {
  position:absolute;
  left:346px;
  top:-10px;
  width:20px;
  height:20px;
}
#u30992 {
  position:absolute;
  left:134px;
  top:45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:464px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30993 {
  position:absolute;
  left:18px;
  top:651px;
  width:820px;
  height:464px;
}
#u30994 {
  position:absolute;
  left:2px;
  top:224px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:67px;
}
#u30995 {
  position:absolute;
  left:505px;
  top:310px;
  width:73px;
  height:66px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30996 {
  position:absolute;
  left:2px;
  top:15px;
  width:69px;
  word-wrap:break-word;
}
#u30997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u30997 {
  position:absolute;
  left:61px;
  top:684px;
  width:325px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u30998 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  white-space:nowrap;
}
#u30999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:117px;
}
#u30999 {
  position:absolute;
  left:364px;
  top:763px;
  width:129px;
  height:116px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31000 {
  position:absolute;
  left:2px;
  top:49px;
  width:125px;
  word-wrap:break-word;
}
#u31001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:82px;
}
#u31001 {
  position:absolute;
  left:55px;
  top:976px;
  width:143px;
  height:81px;
  font-size:14px;
}
#u31002 {
  position:absolute;
  left:2px;
  top:30px;
  width:139px;
  word-wrap:break-word;
}
#u31003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:82px;
}
#u31003 {
  position:absolute;
  left:243px;
  top:976px;
  width:143px;
  height:81px;
  font-size:14px;
}
#u31004 {
  position:absolute;
  left:2px;
  top:30px;
  width:139px;
  word-wrap:break-word;
}
#u31005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:82px;
}
#u31005 {
  position:absolute;
  left:440px;
  top:976px;
  width:143px;
  height:81px;
  font-size:14px;
}
#u31006 {
  position:absolute;
  left:2px;
  top:30px;
  width:139px;
  word-wrap:break-word;
}
#u31007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:82px;
}
#u31007 {
  position:absolute;
  left:648px;
  top:976px;
  width:143px;
  height:81px;
  font-size:14px;
}
#u31008 {
  position:absolute;
  left:2px;
  top:20px;
  width:139px;
  word-wrap:break-word;
}
#u31009 {
  position:absolute;
  left:198px;
  top:1017px;
  width:0px;
  height:0px;
}
#u31009_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:49px;
  height:8px;
}
#u31009_seg1 {
  position:absolute;
  left:30px;
  top:-10px;
  width:20px;
  height:20px;
}
#u31010 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31011 {
  position:absolute;
  left:583px;
  top:1017px;
  width:0px;
  height:0px;
}
#u31011_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u31011_seg1 {
  position:absolute;
  left:50px;
  top:-10px;
  width:20px;
  height:20px;
}
#u31012 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31013 {
  position:absolute;
  left:386px;
  top:1017px;
  width:0px;
  height:0px;
}
#u31013_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:58px;
  height:8px;
}
#u31013_seg1 {
  position:absolute;
  left:39px;
  top:-10px;
  width:20px;
  height:20px;
}
#u31014 {
  position:absolute;
  left:-23px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:82px;
}
#u31015 {
  position:absolute;
  left:63px;
  top:456px;
  width:143px;
  height:81px;
  font-size:14px;
}
#u31016 {
  position:absolute;
  left:2px;
  top:20px;
  width:139px;
  word-wrap:break-word;
}
#u31017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:82px;
}
#u31017 {
  position:absolute;
  left:248px;
  top:456px;
  width:143px;
  height:81px;
  font-size:14px;
}
#u31018 {
  position:absolute;
  left:2px;
  top:30px;
  width:139px;
  word-wrap:break-word;
}
#u31019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:82px;
}
#u31019 {
  position:absolute;
  left:448px;
  top:456px;
  width:143px;
  height:81px;
  font-size:14px;
}
#u31020 {
  position:absolute;
  left:2px;
  top:30px;
  width:139px;
  word-wrap:break-word;
}
#u31021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:82px;
}
#u31021 {
  position:absolute;
  left:648px;
  top:456px;
  width:143px;
  height:81px;
  font-size:14px;
}
#u31022 {
  position:absolute;
  left:2px;
  top:30px;
  width:139px;
  word-wrap:break-word;
}
#u31023 {
  position:absolute;
  left:206px;
  top:497px;
  width:0px;
  height:0px;
}
#u31023_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u31023_seg1 {
  position:absolute;
  left:27px;
  top:-10px;
  width:20px;
  height:20px;
}
#u31024 {
  position:absolute;
  left:-29px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u31025 {
  position:absolute;
  left:18px;
  top:1158px;
  width:217px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u31026 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u31027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:836px;
}
#u31028 {
  position:absolute;
  left:545px;
  top:1286px;
  width:425px;
  height:836px;
}
#u31029 {
  position:absolute;
  left:2px;
  top:410px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31030 {
  position:absolute;
  left:564px;
  top:1353px;
  width:379px;
  height:671px;
}
#u31031 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31033 {
  position:absolute;
  left:564px;
  top:1353px;
  width:379px;
  height:671px;
}
#u31034 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31035 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:65px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u31038 {
  position:absolute;
  left:564px;
  top:1353px;
  width:379px;
  height:65px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u31039 {
  position:absolute;
  left:0px;
  top:34px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:14px;
}
#u31040 {
  position:absolute;
  left:570px;
  top:1357px;
  width:368px;
  height:14px;
}
#u31041 {
  position:absolute;
  left:2px;
  top:-1px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31042 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u31043 {
  position:absolute;
  left:601px;
  top:1385px;
  width:61px;
  height:20px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u31044 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u31045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u31045 {
  position:absolute;
  left:582px;
  top:1385px;
  width:19px;
  height:20px;
  font-family:'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u31046 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u31047 {
  position:absolute;
  left:908px;
  top:1385px;
  width:15px;
  height:16px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u31048 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u31049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31049 {
  position:absolute;
  left:667px;
  top:1226px;
  width:145px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31050 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u31051 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:836px;
}
#u31052 {
  position:absolute;
  left:18px;
  top:1286px;
  width:425px;
  height:836px;
}
#u31053 {
  position:absolute;
  left:2px;
  top:410px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31054 {
  position:absolute;
  left:37px;
  top:1353px;
  width:379px;
  height:671px;
}
#u31055 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31057 {
  position:absolute;
  left:37px;
  top:1353px;
  width:379px;
  height:671px;
}
#u31058 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31060 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:65px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u31062 {
  position:absolute;
  left:37px;
  top:1353px;
  width:379px;
  height:65px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u31063 {
  position:absolute;
  left:0px;
  top:30px;
  width:379px;
  word-wrap:break-word;
}
#u31064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:14px;
}
#u31064 {
  position:absolute;
  left:43px;
  top:1357px;
  width:368px;
  height:14px;
}
#u31065 {
  position:absolute;
  left:2px;
  top:-1px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u31067 {
  position:absolute;
  left:74px;
  top:1385px;
  width:61px;
  height:20px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u31068 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u31069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u31069 {
  position:absolute;
  left:55px;
  top:1385px;
  width:19px;
  height:20px;
  font-family:'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u31070 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u31071 {
  position:absolute;
  left:381px;
  top:1385px;
  width:15px;
  height:16px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u31072 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u31073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u31073 {
  position:absolute;
  left:145px;
  top:1226px;
  width:121px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u31074 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u31075 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:671px;
}
#u31076 {
  position:absolute;
  left:37px;
  top:1353px;
  width:378px;
  height:671px;
}
#u31077 {
  position:absolute;
  left:2px;
  top:328px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31078 {
  position:absolute;
  left:37px;
  top:1980px;
  width:378px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31079 {
  position:absolute;
  left:2px;
  top:13px;
  width:374px;
  word-wrap:break-word;
}
#u31080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:159px;
}
#u31080 {
  position:absolute;
  left:619px;
  top:1831px;
  width:278px;
  height:158px;
}
#u31081 {
  position:absolute;
  left:2px;
  top:61px;
  width:274px;
  word-wrap:break-word;
}
#u31082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u31082 {
  position:absolute;
  left:601px;
  top:1478px;
  width:300px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u31083 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u31084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31084 {
  position:absolute;
  left:603px;
  top:1567px;
  width:296px;
  height:40px;
}
#u31085 {
  position:absolute;
  left:2px;
  top:11px;
  width:292px;
  word-wrap:break-word;
}
#u31086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31086 {
  position:absolute;
  left:601px;
  top:1664px;
  width:331px;
  height:140px;
}
#u31087 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u31088 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:276px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31089 {
  position:absolute;
  left:1080px;
  top:1449px;
  width:430px;
  height:276px;
}
#u31090 {
  position:absolute;
  left:2px;
  top:130px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:2px;
}
#u31091 {
  position:absolute;
  left:1080px;
  top:1637px;
  width:430px;
  height:1px;
}
#u31092 {
  position:absolute;
  left:2px;
  top:-8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:2px;
}
#u31093 {
  position:absolute;
  left:1080px;
  top:1637px;
  width:430px;
  height:1px;
}
#u31094 {
  position:absolute;
  left:2px;
  top:-8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u31095 {
  position:absolute;
  left:1230px;
  top:1669px;
  width:131px;
  height:30px;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u31096 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u31097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  text-align:center;
}
#u31097 {
  position:absolute;
  left:1215px;
  top:1469px;
  width:157px;
  height:50px;
  font-size:22px;
  text-align:center;
}
#u31098 {
  position:absolute;
  left:0px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u31099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u31099 {
  position:absolute;
  left:1198px;
  top:1535px;
  width:194px;
  height:74px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u31100 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u31101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31101 {
  position:absolute;
  left:1094px;
  top:1815px;
  width:281px;
  height:70px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31102 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u31103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31103 {
  position:absolute;
  left:1094px;
  top:1955px;
  width:443px;
  height:70px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31104 {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  white-space:nowrap;
}
#u31105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u31105 {
  position:absolute;
  left:55px;
  top:927px;
  width:109px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u31106 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u31107 {
  position:absolute;
  left:391px;
  top:497px;
  width:0px;
  height:0px;
}
#u31107_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u31107_seg1 {
  position:absolute;
  left:42px;
  top:-10px;
  width:20px;
  height:20px;
}
#u31108 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31109 {
  position:absolute;
  left:591px;
  top:497px;
  width:0px;
  height:0px;
}
#u31109_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u31109_seg1 {
  position:absolute;
  left:42px;
  top:-10px;
  width:20px;
  height:20px;
}
#u31110 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u31111 {
  position:absolute;
  left:260px;
  top:593px;
  width:253px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u31112 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
