body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:926px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25155 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:836px;
}
#u25156 {
  position:absolute;
  left:501px;
  top:202px;
  width:425px;
  height:836px;
}
#u25157 {
  position:absolute;
  left:2px;
  top:410px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25158 {
  position:absolute;
  left:520px;
  top:269px;
  width:379px;
  height:671px;
}
#u25159 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25160 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:699px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25161 {
  position:absolute;
  left:520px;
  top:269px;
  width:379px;
  height:699px;
}
#u25162 {
  position:absolute;
  left:2px;
  top:342px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25163 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25164 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25165 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:68px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u25166 {
  position:absolute;
  left:520px;
  top:269px;
  width:379px;
  height:68px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u25167 {
  position:absolute;
  left:0px;
  top:32px;
  width:379px;
  word-wrap:break-word;
}
#u25168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:15px;
}
#u25168 {
  position:absolute;
  left:526px;
  top:273px;
  width:368px;
  height:15px;
}
#u25169 {
  position:absolute;
  left:2px;
  top:0px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25170 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25171 {
  position:absolute;
  left:557px;
  top:301px;
  width:61px;
  height:20px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25172 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u25173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u25173 {
  position:absolute;
  left:538px;
  top:301px;
  width:19px;
  height:21px;
  font-family:'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u25174 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u25175 {
  position:absolute;
  left:864px;
  top:301px;
  width:15px;
  height:16px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u25176 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u25177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25177 {
  position:absolute;
  left:632px;
  top:143px;
  width:145px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25178 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u25179 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25180 {
  position:absolute;
  left:520px;
  top:347px;
  width:379px;
  height:91px;
}
#u25181 {
  position:absolute;
  left:2px;
  top:38px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u25182 {
  position:absolute;
  left:529px;
  top:364px;
  width:59px;
  height:57px;
}
#u25183 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25184 {
  position:absolute;
  left:598px;
  top:366px;
  width:29px;
  height:20px;
}
#u25185 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25186 {
  position:absolute;
  left:598px;
  top:399px;
  width:213px;
  height:20px;
}
#u25187 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u25188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u25188 {
  position:absolute;
  left:573px;
  top:406px;
  width:13px;
  height:15px;
}
#u25189 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25190 {
  position:absolute;
  left:520px;
  top:448px;
  width:379px;
  height:91px;
}
#u25191 {
  position:absolute;
  left:2px;
  top:38px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u25192 {
  position:absolute;
  left:529px;
  top:465px;
  width:59px;
  height:57px;
}
#u25193 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25194 {
  position:absolute;
  left:598px;
  top:467px;
  width:29px;
  height:20px;
}
#u25195 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u25196 {
  position:absolute;
  left:573px;
  top:507px;
  width:13px;
  height:15px;
}
#u25197 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25198 {
  position:absolute;
  left:598px;
  top:500px;
  width:213px;
  height:20px;
}
#u25199 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u25200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25200 {
  position:absolute;
  left:520px;
  top:549px;
  width:379px;
  height:91px;
}
#u25201 {
  position:absolute;
  left:2px;
  top:38px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u25202 {
  position:absolute;
  left:529px;
  top:566px;
  width:59px;
  height:57px;
}
#u25203 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25204 {
  position:absolute;
  left:598px;
  top:568px;
  width:29px;
  height:20px;
}
#u25205 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u25206 {
  position:absolute;
  left:573px;
  top:608px;
  width:13px;
  height:15px;
}
#u25207 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25208 {
  position:absolute;
  left:598px;
  top:601px;
  width:213px;
  height:20px;
}
#u25209 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u25210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25210 {
  position:absolute;
  left:520px;
  top:650px;
  width:379px;
  height:91px;
}
#u25211 {
  position:absolute;
  left:2px;
  top:38px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u25212 {
  position:absolute;
  left:529px;
  top:667px;
  width:59px;
  height:57px;
}
#u25213 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25214 {
  position:absolute;
  left:598px;
  top:669px;
  width:29px;
  height:20px;
}
#u25215 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u25216 {
  position:absolute;
  left:573px;
  top:709px;
  width:13px;
  height:15px;
}
#u25217 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25218 {
  position:absolute;
  left:598px;
  top:702px;
  width:213px;
  height:20px;
}
#u25219 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u25220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25220 {
  position:absolute;
  left:520px;
  top:751px;
  width:379px;
  height:91px;
}
#u25221 {
  position:absolute;
  left:2px;
  top:38px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u25222 {
  position:absolute;
  left:529px;
  top:768px;
  width:59px;
  height:57px;
}
#u25223 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25224 {
  position:absolute;
  left:598px;
  top:770px;
  width:29px;
  height:20px;
}
#u25225 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u25226 {
  position:absolute;
  left:573px;
  top:810px;
  width:13px;
  height:15px;
}
#u25227 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25228 {
  position:absolute;
  left:598px;
  top:803px;
  width:213px;
  height:20px;
}
#u25229 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u25230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25230 {
  position:absolute;
  left:520px;
  top:852px;
  width:379px;
  height:91px;
}
#u25231 {
  position:absolute;
  left:2px;
  top:38px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u25232 {
  position:absolute;
  left:529px;
  top:869px;
  width:59px;
  height:57px;
}
#u25233 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25234 {
  position:absolute;
  left:598px;
  top:871px;
  width:29px;
  height:20px;
}
#u25235 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25236 {
  position:absolute;
  left:598px;
  top:904px;
  width:213px;
  height:20px;
}
#u25237 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u25238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u25238 {
  position:absolute;
  left:666px;
  top:948px;
  width:16px;
  height:16px;
}
#u25239 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u25240 {
  position:absolute;
  left:689px;
  top:946px;
  width:55px;
  height:20px;
  color:#999999;
}
#u25241 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u25242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25242 {
  position:absolute;
  left:811px;
  top:397px;
  width:78px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25243 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u25244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25244 {
  position:absolute;
  left:816px;
  top:495px;
  width:78px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25245 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u25246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25246 {
  position:absolute;
  left:816px;
  top:596px;
  width:78px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25247 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u25248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25248 {
  position:absolute;
  left:816px;
  top:697px;
  width:78px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25249 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u25250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25250 {
  position:absolute;
  left:816px;
  top:798px;
  width:78px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25251 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u25252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25252 {
  position:absolute;
  left:816px;
  top:899px;
  width:78px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25253 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u25254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25254 {
  position:absolute;
  left:808px;
  top:367px;
  width:84px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25255 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u25256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25256 {
  position:absolute;
  left:805px;
  top:465px;
  width:84px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25257 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u25258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25258 {
  position:absolute;
  left:810px;
  top:563px;
  width:84px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25259 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u25260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25260 {
  position:absolute;
  left:807px;
  top:661px;
  width:84px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25261 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u25262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25262 {
  position:absolute;
  left:810px;
  top:768px;
  width:84px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25263 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u25264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25264 {
  position:absolute;
  left:807px;
  top:866px;
  width:84px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25265 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
