body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1442px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:904px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u11673 {
  position:absolute;
  left:2px;
  top:0px;
  width:1440px;
  height:904px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u11674 {
  position:absolute;
  left:2px;
  top:444px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:64px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11675 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:64px;
}
#u11676 {
  position:absolute;
  left:2px;
  top:24px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11677 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11678 {
  position:absolute;
  left:569px;
  top:0px;
  width:342px;
  height:64px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11679 {
  position:absolute;
  left:24px;
  top:22px;
  width:294px;
  word-wrap:break-word;
}
#u11680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:862px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u11680 {
  position:absolute;
  left:0px;
  top:64px;
  width:1442px;
  height:862px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u11681 {
  position:absolute;
  left:2px;
  top:381px;
  width:1438px;
  word-wrap:break-word;
}
#u11682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.458823529411765);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u11682 {
  position:absolute;
  left:13px;
  top:8px;
  width:48px;
  height:48px;
  font-size:8px;
  color:#FFFFFF;
}
#u11683 {
  position:absolute;
  left:2px;
  top:20px;
  width:44px;
  word-wrap:break-word;
}
#u11684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11684 {
  position:absolute;
  left:1299px;
  top:12px;
  width:104px;
  height:40px;
}
#u11685 {
  position:absolute;
  left:2px;
  top:11px;
  width:100px;
  word-wrap:break-word;
}
#u11686_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:74px;
}
#u11686 {
  position:absolute;
  left:1370px;
  top:37px;
  width:64px;
  height:64px;
}
#u11687 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
