body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1350px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u19221 {
  position:absolute;
  left:115px;
  top:181px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u19222 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19223 {
  position:absolute;
  left:115px;
  top:236px;
  width:1040px;
  height:535px;
}
#u19224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u19224 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
  color:#FFFFFF;
}
#u19225 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u19226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:35px;
}
#u19226 {
  position:absolute;
  left:65px;
  top:0px;
  width:260px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19227 {
  position:absolute;
  left:2px;
  top:8px;
  width:256px;
  word-wrap:break-word;
}
#u19228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:35px;
}
#u19228 {
  position:absolute;
  left:325px;
  top:0px;
  width:555px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19229 {
  position:absolute;
  left:2px;
  top:8px;
  width:551px;
  word-wrap:break-word;
}
#u19230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:35px;
}
#u19230 {
  position:absolute;
  left:880px;
  top:0px;
  width:155px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6699FF;
}
#u19231 {
  position:absolute;
  left:2px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u19232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:51px;
}
#u19232 {
  position:absolute;
  left:0px;
  top:35px;
  width:65px;
  height:51px;
}
#u19233 {
  position:absolute;
  left:2px;
  top:18px;
  width:61px;
  word-wrap:break-word;
}
#u19234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:51px;
}
#u19234 {
  position:absolute;
  left:65px;
  top:35px;
  width:260px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19235 {
  position:absolute;
  left:2px;
  top:9px;
  width:256px;
  word-wrap:break-word;
}
#u19236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:51px;
}
#u19236 {
  position:absolute;
  left:325px;
  top:35px;
  width:555px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19237 {
  position:absolute;
  left:2px;
  top:16px;
  width:551px;
  word-wrap:break-word;
}
#u19238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:51px;
}
#u19238 {
  position:absolute;
  left:880px;
  top:35px;
  width:155px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#66CCFF;
}
#u19239 {
  position:absolute;
  left:2px;
  top:18px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u19240 {
  position:absolute;
  left:0px;
  top:86px;
  width:65px;
  height:37px;
}
#u19241 {
  position:absolute;
  left:2px;
  top:11px;
  width:61px;
  word-wrap:break-word;
}
#u19242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:37px;
}
#u19242 {
  position:absolute;
  left:65px;
  top:86px;
  width:260px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u19243 {
  position:absolute;
  left:2px;
  top:2px;
  width:256px;
  word-wrap:break-word;
}
#u19244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:37px;
}
#u19244 {
  position:absolute;
  left:325px;
  top:86px;
  width:555px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u19245 {
  position:absolute;
  left:2px;
  top:10px;
  width:551px;
  word-wrap:break-word;
}
#u19246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:37px;
}
#u19246 {
  position:absolute;
  left:880px;
  top:86px;
  width:155px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#66CCFF;
}
#u19247 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u19248 {
  position:absolute;
  left:0px;
  top:123px;
  width:65px;
  height:37px;
}
#u19249 {
  position:absolute;
  left:2px;
  top:11px;
  width:61px;
  word-wrap:break-word;
}
#u19250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:37px;
}
#u19250 {
  position:absolute;
  left:65px;
  top:123px;
  width:260px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u19251 {
  position:absolute;
  left:2px;
  top:2px;
  width:256px;
  word-wrap:break-word;
}
#u19252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:37px;
}
#u19252 {
  position:absolute;
  left:325px;
  top:123px;
  width:555px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u19253 {
  position:absolute;
  left:2px;
  top:10px;
  width:551px;
  word-wrap:break-word;
}
#u19254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:37px;
}
#u19254 {
  position:absolute;
  left:880px;
  top:123px;
  width:155px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#66CCFF;
}
#u19255 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u19256 {
  position:absolute;
  left:0px;
  top:160px;
  width:65px;
  height:37px;
}
#u19257 {
  position:absolute;
  left:2px;
  top:11px;
  width:61px;
  word-wrap:break-word;
}
#u19258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:37px;
}
#u19258 {
  position:absolute;
  left:65px;
  top:160px;
  width:260px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u19259 {
  position:absolute;
  left:2px;
  top:10px;
  width:256px;
  word-wrap:break-word;
}
#u19260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:37px;
}
#u19260 {
  position:absolute;
  left:325px;
  top:160px;
  width:555px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u19261 {
  position:absolute;
  left:2px;
  top:10px;
  width:551px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:37px;
}
#u19262 {
  position:absolute;
  left:880px;
  top:160px;
  width:155px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#66CCFF;
}
#u19263 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:159px;
}
#u19264 {
  position:absolute;
  left:0px;
  top:197px;
  width:65px;
  height:159px;
}
#u19265 {
  position:absolute;
  left:2px;
  top:72px;
  width:61px;
  word-wrap:break-word;
}
#u19266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:159px;
}
#u19266 {
  position:absolute;
  left:65px;
  top:197px;
  width:260px;
  height:159px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19267 {
  position:absolute;
  left:2px;
  top:62px;
  width:256px;
  word-wrap:break-word;
}
#u19268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:159px;
}
#u19268 {
  position:absolute;
  left:325px;
  top:197px;
  width:555px;
  height:159px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19269 {
  position:absolute;
  left:2px;
  top:26px;
  width:551px;
  word-wrap:break-word;
}
#u19270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:159px;
}
#u19270 {
  position:absolute;
  left:880px;
  top:197px;
  width:155px;
  height:159px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#66CCFF;
}
#u19271 {
  position:absolute;
  left:2px;
  top:72px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:55px;
}
#u19272 {
  position:absolute;
  left:0px;
  top:356px;
  width:65px;
  height:55px;
}
#u19273 {
  position:absolute;
  left:2px;
  top:20px;
  width:61px;
  word-wrap:break-word;
}
#u19274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:55px;
}
#u19274 {
  position:absolute;
  left:65px;
  top:356px;
  width:260px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19275 {
  position:absolute;
  left:2px;
  top:18px;
  width:256px;
  word-wrap:break-word;
}
#u19276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:55px;
}
#u19276 {
  position:absolute;
  left:325px;
  top:356px;
  width:555px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19277 {
  position:absolute;
  left:2px;
  top:18px;
  width:551px;
  word-wrap:break-word;
}
#u19278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:55px;
}
#u19278 {
  position:absolute;
  left:880px;
  top:356px;
  width:155px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#66CCFF;
}
#u19279 {
  position:absolute;
  left:2px;
  top:20px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:119px;
}
#u19280 {
  position:absolute;
  left:0px;
  top:411px;
  width:65px;
  height:119px;
}
#u19281 {
  position:absolute;
  left:2px;
  top:52px;
  width:61px;
  word-wrap:break-word;
}
#u19282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:119px;
}
#u19282 {
  position:absolute;
  left:65px;
  top:411px;
  width:260px;
  height:119px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19283 {
  position:absolute;
  left:2px;
  top:50px;
  width:256px;
  word-wrap:break-word;
}
#u19284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:119px;
}
#u19284 {
  position:absolute;
  left:325px;
  top:411px;
  width:555px;
  height:119px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19285 {
  position:absolute;
  left:2px;
  top:24px;
  width:551px;
  word-wrap:break-word;
}
#u19286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:119px;
}
#u19286 {
  position:absolute;
  left:880px;
  top:411px;
  width:155px;
  height:119px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#66CCFF;
}
#u19287 {
  position:absolute;
  left:2px;
  top:52px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19288 {
  position:absolute;
  left:517px;
  top:120px;
  width:202px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19289 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u19290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19290 {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:54px;
}
#u19291 {
  position:absolute;
  left:2px;
  top:19px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19292 {
  position:absolute;
  left:164px;
  top:5px;
  width:187px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19292_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19292.mouseOver {
}
#u19293 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u19294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19294 {
  position:absolute;
  left:361px;
  top:6px;
  width:187px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19294_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19294.mouseOver {
}
#u19295 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u19296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19296 {
  position:absolute;
  left:558px;
  top:6px;
  width:187px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19296_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19296.mouseOver {
}
#u19297 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u19298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19298 {
  position:absolute;
  left:755px;
  top:6px;
  width:187px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19298_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19298.mouseOver {
}
#u19299 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u19300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19300 {
  position:absolute;
  left:952px;
  top:6px;
  width:187px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19300_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19300.mouseOver {
}
#u19301 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u19302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19302 {
  position:absolute;
  left:22px;
  top:14px;
  width:116px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19303 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u19304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19304 {
  position:absolute;
  left:1149px;
  top:6px;
  width:187px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19304_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19304.mouseOver {
}
#u19305 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
