body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:925px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25076 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:836px;
}
#u25077 {
  position:absolute;
  left:500px;
  top:202px;
  width:425px;
  height:836px;
}
#u25078 {
  position:absolute;
  left:2px;
  top:410px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25079 {
  position:absolute;
  left:519px;
  top:269px;
  width:379px;
  height:671px;
}
#u25080 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:699px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25082 {
  position:absolute;
  left:519px;
  top:269px;
  width:379px;
  height:699px;
}
#u25083 {
  position:absolute;
  left:2px;
  top:342px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25084 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25085 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25086 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:68px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u25087 {
  position:absolute;
  left:519px;
  top:269px;
  width:379px;
  height:68px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u25088 {
  position:absolute;
  left:0px;
  top:32px;
  width:379px;
  word-wrap:break-word;
}
#u25089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:15px;
}
#u25089 {
  position:absolute;
  left:525px;
  top:273px;
  width:368px;
  height:15px;
}
#u25090 {
  position:absolute;
  left:2px;
  top:0px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25091 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25092 {
  position:absolute;
  left:556px;
  top:301px;
  width:61px;
  height:20px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25093 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u25094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u25094 {
  position:absolute;
  left:537px;
  top:301px;
  width:19px;
  height:21px;
  font-family:'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u25095 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u25096 {
  position:absolute;
  left:863px;
  top:301px;
  width:15px;
  height:16px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u25097 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u25098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25098 {
  position:absolute;
  left:631px;
  top:143px;
  width:145px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25099 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u25100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25101 {
  position:absolute;
  left:519px;
  top:347px;
  width:379px;
  height:91px;
}
#u25102 {
  position:absolute;
  left:2px;
  top:38px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u25103 {
  position:absolute;
  left:528px;
  top:364px;
  width:59px;
  height:57px;
}
#u25104 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25105 {
  position:absolute;
  left:597px;
  top:366px;
  width:29px;
  height:20px;
}
#u25106 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25107 {
  position:absolute;
  left:597px;
  top:399px;
  width:213px;
  height:20px;
}
#u25108 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u25109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u25109 {
  position:absolute;
  left:572px;
  top:406px;
  width:13px;
  height:15px;
}
#u25110 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25111 {
  position:absolute;
  left:519px;
  top:448px;
  width:379px;
  height:91px;
}
#u25112 {
  position:absolute;
  left:2px;
  top:38px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u25113 {
  position:absolute;
  left:528px;
  top:465px;
  width:59px;
  height:57px;
}
#u25114 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25115 {
  position:absolute;
  left:597px;
  top:467px;
  width:29px;
  height:20px;
}
#u25116 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u25117 {
  position:absolute;
  left:572px;
  top:507px;
  width:13px;
  height:15px;
}
#u25118 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25119 {
  position:absolute;
  left:597px;
  top:500px;
  width:213px;
  height:20px;
}
#u25120 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u25121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25121 {
  position:absolute;
  left:519px;
  top:549px;
  width:379px;
  height:91px;
}
#u25122 {
  position:absolute;
  left:2px;
  top:38px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u25123 {
  position:absolute;
  left:528px;
  top:566px;
  width:59px;
  height:57px;
}
#u25124 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25125 {
  position:absolute;
  left:597px;
  top:568px;
  width:29px;
  height:20px;
}
#u25126 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u25127 {
  position:absolute;
  left:572px;
  top:608px;
  width:13px;
  height:15px;
}
#u25128 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25129 {
  position:absolute;
  left:597px;
  top:601px;
  width:213px;
  height:20px;
}
#u25130 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u25131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25131 {
  position:absolute;
  left:519px;
  top:650px;
  width:379px;
  height:91px;
}
#u25132 {
  position:absolute;
  left:2px;
  top:38px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u25133 {
  position:absolute;
  left:528px;
  top:667px;
  width:59px;
  height:57px;
}
#u25134 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25135 {
  position:absolute;
  left:597px;
  top:669px;
  width:29px;
  height:20px;
}
#u25136 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u25137 {
  position:absolute;
  left:572px;
  top:709px;
  width:13px;
  height:15px;
}
#u25138 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25139 {
  position:absolute;
  left:597px;
  top:702px;
  width:213px;
  height:20px;
}
#u25140 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u25141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25141 {
  position:absolute;
  left:519px;
  top:751px;
  width:379px;
  height:91px;
}
#u25142 {
  position:absolute;
  left:2px;
  top:38px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u25143 {
  position:absolute;
  left:528px;
  top:768px;
  width:59px;
  height:57px;
}
#u25144 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25145 {
  position:absolute;
  left:597px;
  top:770px;
  width:29px;
  height:20px;
}
#u25146 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u25147 {
  position:absolute;
  left:572px;
  top:810px;
  width:13px;
  height:15px;
}
#u25148 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25149 {
  position:absolute;
  left:597px;
  top:803px;
  width:213px;
  height:20px;
}
#u25150 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u25151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25151 {
  position:absolute;
  left:519px;
  top:852px;
  width:379px;
  height:91px;
}
#u25152 {
  position:absolute;
  left:2px;
  top:38px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u25153 {
  position:absolute;
  left:528px;
  top:869px;
  width:59px;
  height:57px;
}
#u25154 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25155 {
  position:absolute;
  left:597px;
  top:871px;
  width:29px;
  height:20px;
}
#u25156 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25157 {
  position:absolute;
  left:597px;
  top:904px;
  width:213px;
  height:20px;
}
#u25158 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u25159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u25159 {
  position:absolute;
  left:665px;
  top:948px;
  width:16px;
  height:16px;
}
#u25160 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u25161 {
  position:absolute;
  left:688px;
  top:946px;
  width:55px;
  height:20px;
  color:#999999;
}
#u25162 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
