body {
  margin:0px;
  background-image:url('../../images/产品简介/bg.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:1350px 134px;
  position:relative;
  left:-0px;
  width:1348px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:80px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 40, 40, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12166 {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:80px;
}
#u12167 {
  position:absolute;
  left:2px;
  top:32px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:81px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 40, 40, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12168 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12168_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:81px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12168.mouseOver {
}
#u12169 {
  position:absolute;
  left:2px;
  top:32px;
  width:247px;
  word-wrap:break-word;
}
#u12170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:81px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12170 {
  position:absolute;
  left:251px;
  top:0px;
  width:187px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12171 {
  position:absolute;
  left:2px;
  top:32px;
  width:183px;
  word-wrap:break-word;
}
#u12172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:81px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 40, 40, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12172 {
  position:absolute;
  left:438px;
  top:0px;
  width:187px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12172_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:81px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12172.mouseOver {
}
#u12173 {
  position:absolute;
  left:2px;
  top:32px;
  width:183px;
  word-wrap:break-word;
}
#u12174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:81px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 40, 40, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12174 {
  position:absolute;
  left:625px;
  top:0px;
  width:187px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12174_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:81px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12174.mouseOver {
}
#u12175 {
  position:absolute;
  left:2px;
  top:32px;
  width:183px;
  word-wrap:break-word;
}
#u12176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12176 {
  position:absolute;
  left:-1px;
  top:80px;
  width:1350px;
  height:54px;
}
#u12177 {
  position:absolute;
  left:2px;
  top:19px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12178 {
  position:absolute;
  left:1217px;
  top:22px;
  width:106px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12179 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u12180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:70px;
}
#u12180 {
  position:absolute;
  left:17px;
  top:6px;
  width:99px;
  height:70px;
}
#u12181 {
  position:absolute;
  left:2px;
  top:27px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12182 {
  position:absolute;
  left:261px;
  top:85px;
  width:187px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12182_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12182.mouseOver {
}
#u12183 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u12184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12184 {
  position:absolute;
  left:458px;
  top:85px;
  width:187px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12184_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12184.mouseOver {
}
#u12185 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u12186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12186 {
  position:absolute;
  left:655px;
  top:85px;
  width:187px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12186_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12186.mouseOver {
}
#u12187 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u12188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12188 {
  position:absolute;
  left:852px;
  top:85px;
  width:187px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12188_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12188.mouseOver {
}
#u12189 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u12190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12190 {
  position:absolute;
  left:1049px;
  top:85px;
  width:187px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12190_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12190.mouseOver {
}
#u12191 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u12192 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:836px;
}
#u12193 {
  position:absolute;
  left:506px;
  top:215px;
  width:425px;
  height:836px;
}
#u12194 {
  position:absolute;
  left:2px;
  top:410px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12195 {
  position:absolute;
  left:525px;
  top:282px;
  width:379px;
  height:671px;
}
#u12196 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12197 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:675px;
}
#u12198 {
  position:absolute;
  left:525px;
  top:282px;
  width:379px;
  height:675px;
}
#u12199 {
  position:absolute;
  left:2px;
  top:330px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:27px;
  background:inherit;
  background-color:rgba(28, 28, 30, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12200 {
  position:absolute;
  left:616px;
  top:313px;
  width:198px;
  height:27px;
}
#u12201 {
  position:absolute;
  left:2px;
  top:6px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12202 {
  position:absolute;
  left:670px;
  top:315px;
  width:79px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12203 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u12204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12204 {
  position:absolute;
  left:599px;
  top:315px;
  width:29px;
  height:20px;
  color:#FFFFFF;
}
#u12205 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:612px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12206 {
  position:absolute;
  left:525px;
  top:345px;
  width:379px;
  height:612px;
}
#u12207 {
  position:absolute;
  left:2px;
  top:298px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:612px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12208 {
  position:absolute;
  left:525px;
  top:345px;
  width:379px;
  height:612px;
}
#u12209 {
  position:absolute;
  left:2px;
  top:298px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12210 {
  position:absolute;
  left:543px;
  top:751px;
  width:9px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12211 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  white-space:nowrap;
}
#u12212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12212 {
  position:absolute;
  left:616px;
  top:172px;
  width:213px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12213 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u12214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u12214 {
  position:absolute;
  left:535px;
  top:498px;
  width:359px;
  height:1px;
}
#u12215 {
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u12216 {
  position:absolute;
  left:535px;
  top:666px;
  width:359px;
  height:1px;
}
#u12217 {
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12218 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12219 {
  position:absolute;
  left:525px;
  top:902px;
  width:379px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12220 {
  position:absolute;
  left:2px;
  top:16px;
  width:375px;
  word-wrap:break-word;
}
#u12221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#66CCFF;
}
#u12221 {
  position:absolute;
  left:840px;
  top:601px;
  width:15px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#66CCFF;
}
#u12222 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u12223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12223 {
  position:absolute;
  left:686px;
  top:370px;
  width:57px;
  height:20px;
}
#u12224 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12225 {
  position:absolute;
  left:668px;
  top:414px;
  width:93px;
  height:42px;
}
#u12226 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u12227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12227 {
  position:absolute;
  left:550px;
  top:512px;
  width:96px;
  height:57px;
  font-size:12px;
}
#u12228 {
  position:absolute;
  left:2px;
  top:13px;
  width:92px;
  word-wrap:break-word;
}
#u12229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12229 {
  position:absolute;
  left:670px;
  top:512px;
  width:96px;
  height:57px;
  font-size:12px;
}
#u12230 {
  position:absolute;
  left:2px;
  top:13px;
  width:92px;
  word-wrap:break-word;
}
#u12231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12231 {
  position:absolute;
  left:790px;
  top:512px;
  width:96px;
  height:57px;
  font-size:12px;
}
#u12232 {
  position:absolute;
  left:2px;
  top:13px;
  width:92px;
  word-wrap:break-word;
}
#u12233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12233 {
  position:absolute;
  left:550px;
  top:589px;
  width:96px;
  height:57px;
  font-size:12px;
}
#u12234 {
  position:absolute;
  left:2px;
  top:13px;
  width:92px;
  word-wrap:break-word;
}
#u12235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12235 {
  position:absolute;
  left:670px;
  top:589px;
  width:96px;
  height:57px;
  font-size:12px;
}
#u12236 {
  position:absolute;
  left:2px;
  top:13px;
  width:92px;
  word-wrap:break-word;
}
#u12237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12237 {
  position:absolute;
  left:790px;
  top:589px;
  width:96px;
  height:57px;
  font-size:12px;
}
#u12238 {
  position:absolute;
  left:2px;
  top:13px;
  width:92px;
  word-wrap:break-word;
}
#u12239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u12239 {
  position:absolute;
  left:539px;
  top:579px;
  width:24px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u12240 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u12241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u12241 {
  position:absolute;
  left:656px;
  top:579px;
  width:24px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u12242 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u12243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u12243 {
  position:absolute;
  left:781px;
  top:579px;
  width:24px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u12244 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u12245_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u12245 {
  position:absolute;
  left:967px;
  top:915px;
  width:30px;
  height:30px;
}
#u12246 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u12247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12247 {
  position:absolute;
  left:1007px;
  top:918px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12248 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12249 {
  position:absolute;
  left:1007px;
  top:953px;
  width:258px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12250 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  white-space:nowrap;
}
#u12251 {
  position:absolute;
  left:904px;
  top:930px;
  width:0px;
  height:0px;
}
#u12251_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u12251_seg1 {
  position:absolute;
  left:48px;
  top:-10px;
  width:20px;
  height:20px;
}
#u12252 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
