body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:924px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24846 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:836px;
}
#u24847 {
  position:absolute;
  left:499px;
  top:197px;
  width:425px;
  height:836px;
}
#u24848 {
  position:absolute;
  left:2px;
  top:410px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24849 {
  position:absolute;
  left:518px;
  top:264px;
  width:379px;
  height:671px;
}
#u24850 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24851 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:703px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24852 {
  position:absolute;
  left:518px;
  top:264px;
  width:379px;
  height:703px;
}
#u24853 {
  position:absolute;
  left:2px;
  top:344px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24854 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24855 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24856 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:68px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u24857 {
  position:absolute;
  left:518px;
  top:264px;
  width:379px;
  height:68px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u24858 {
  position:absolute;
  left:0px;
  top:32px;
  width:379px;
  word-wrap:break-word;
}
#u24859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:15px;
}
#u24859 {
  position:absolute;
  left:524px;
  top:268px;
  width:368px;
  height:15px;
}
#u24860 {
  position:absolute;
  left:2px;
  top:0px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24861 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u24862 {
  position:absolute;
  left:555px;
  top:297px;
  width:61px;
  height:20px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u24863 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u24864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u24864 {
  position:absolute;
  left:536px;
  top:297px;
  width:19px;
  height:21px;
  font-family:'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u24865 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u24866 {
  position:absolute;
  left:862px;
  top:297px;
  width:15px;
  height:16px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u24867 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u24868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24868 {
  position:absolute;
  left:579px;
  top:138px;
  width:265px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24869 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u24870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u24870 {
  position:absolute;
  left:518px;
  top:332px;
  width:379px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u24871 {
  position:absolute;
  left:2px;
  top:6px;
  width:375px;
  word-wrap:break-word;
}
#u24872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24872 {
  position:absolute;
  left:518px;
  top:372px;
  width:301px;
  height:72px;
}
#u24873 {
  position:absolute;
  left:2px;
  top:28px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24874 {
  position:absolute;
  left:829px;
  top:372px;
  width:70px;
  height:72px;
}
#u24875 {
  position:absolute;
  left:2px;
  top:28px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u24876 {
  position:absolute;
  left:527px;
  top:380px;
  width:59px;
  height:57px;
}
#u24877 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24878 {
  position:absolute;
  left:596px;
  top:381px;
  width:29px;
  height:20px;
}
#u24879 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u24880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u24880 {
  position:absolute;
  left:571px;
  top:422px;
  width:13px;
  height:15px;
}
#u24881 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24882 {
  position:absolute;
  left:596px;
  top:414px;
  width:213px;
  height:20px;
}
#u24883 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u24884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u24884 {
  position:absolute;
  left:835px;
  top:380px;
  width:59px;
  height:57px;
}
#u24885 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u24886 {
  position:absolute;
  left:879px;
  top:422px;
  width:13px;
  height:15px;
}
#u24887 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24888 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:359px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24889 {
  position:absolute;
  left:518px;
  top:454px;
  width:379px;
  height:359px;
}
#u24890 {
  position:absolute;
  left:2px;
  top:172px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u24891 {
  position:absolute;
  left:527px;
  top:459px;
  width:36px;
  height:36px;
}
#u24892 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24893 {
  position:absolute;
  left:573px;
  top:467px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24894 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:145px;
}
#u24896 {
  position:absolute;
  left:527px;
  top:521px;
  width:358px;
  height:145px;
}
#u24897 {
  position:absolute;
  left:2px;
  top:64px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u24898 {
  position:absolute;
  left:678px;
  top:575px;
  width:57px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u24899 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
}
#u24900 {
  position:absolute;
  left:527px;
  top:671px;
  width:35px;
  height:34px;
}
#u24901 {
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:9px;
}
#u24902 {
  position:absolute;
  left:553px;
  top:696px;
  width:8px;
  height:9px;
}
#u24903 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24904 {
  position:absolute;
  left:571px;
  top:678px;
  width:57px;
  height:20px;
}
#u24905 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24906 {
  position:absolute;
  left:527px;
  top:715px;
  width:365px;
  height:60px;
}
#u24907 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u24908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u24908 {
  position:absolute;
  left:527px;
  top:783px;
  width:169px;
  height:20px;
  color:#BCBCBC;
}
#u24909 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u24910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24910 {
  position:absolute;
  left:518px;
  top:823px;
  width:379px;
  height:144px;
}
#u24911 {
  position:absolute;
  left:2px;
  top:64px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u24912 {
  position:absolute;
  left:527px;
  top:828px;
  width:36px;
  height:36px;
}
#u24913 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24914 {
  position:absolute;
  left:573px;
  top:836px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24915 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:72px;
}
#u24917 {
  position:absolute;
  left:527px;
  top:895px;
  width:358px;
  height:72px;
}
#u24918 {
  position:absolute;
  left:2px;
  top:28px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u24919 {
  position:absolute;
  left:679px;
  top:911px;
  width:57px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u24920 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24921 {
  position:absolute;
  left:529px;
  top:497px;
  width:183px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24922 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u24923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24923 {
  position:absolute;
  left:529px;
  top:869px;
  width:183px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24924 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u24925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:42px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24925 {
  position:absolute;
  left:527px;
  top:922px;
  width:358px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24926 {
  position:absolute;
  left:2px;
  top:12px;
  width:354px;
  word-wrap:break-word;
}
#u24927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:635px;
  background:inherit;
  background-color:rgba(13, 13, 13, 0.458823529411765);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24927 {
  position:absolute;
  left:518px;
  top:332px;
  width:379px;
  height:635px;
}
#u24928 {
  position:absolute;
  left:2px;
  top:310px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:242px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24929 {
  position:absolute;
  left:575px;
  top:465px;
  width:266px;
  height:242px;
}
#u24930 {
  position:absolute;
  left:2px;
  top:113px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u24931 {
  position:absolute;
  left:630px;
  top:521px;
  width:145px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u24932 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u24933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u24933 {
  position:absolute;
  left:634px;
  top:615px;
  width:145px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u24934 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
