body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-500px;
  width:666px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18118 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:836px;
}
#u18119 {
  position:absolute;
  left:500px;
  top:201px;
  width:425px;
  height:836px;
}
#u18120 {
  position:absolute;
  left:2px;
  top:410px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18121 {
  position:absolute;
  left:519px;
  top:268px;
  width:379px;
  height:671px;
}
#u18122 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:663px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18125 {
  position:absolute;
  left:520px;
  top:269px;
  width:379px;
  height:663px;
}
#u18126 {
  position:absolute;
  left:2px;
  top:324px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18127 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18128 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18129 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:64px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u18130 {
  position:absolute;
  left:520px;
  top:269px;
  width:379px;
  height:64px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u18131 {
  position:absolute;
  left:0px;
  top:30px;
  width:379px;
  word-wrap:break-word;
}
#u18132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:14px;
}
#u18132 {
  position:absolute;
  left:526px;
  top:273px;
  width:368px;
  height:14px;
}
#u18133 {
  position:absolute;
  left:2px;
  top:-1px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18134 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u18135 {
  position:absolute;
  left:557px;
  top:300px;
  width:61px;
  height:20px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u18136 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u18137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u18137 {
  position:absolute;
  left:538px;
  top:300px;
  width:19px;
  height:20px;
  font-family:'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u18138 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u18139 {
  position:absolute;
  left:864px;
  top:300px;
  width:15px;
  height:16px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u18140 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u18141 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:176px;
  background:inherit;
  background-color:rgba(101, 101, 101, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u18142 {
  position:absolute;
  left:520px;
  top:337px;
  width:379px;
  height:176px;
  color:#FFFFFF;
  text-align:left;
}
#u18143 {
  position:absolute;
  left:0px;
  top:140px;
  width:379px;
  word-wrap:break-word;
}
#u18144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:37px;
}
#u18144 {
  position:absolute;
  left:690px;
  top:407px;
  width:40px;
  height:37px;
  opacity:0.4;
  font-size:48px;
  color:#989898;
}
#u18145 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:68px;
}
#u18146 {
  position:absolute;
  left:520px;
  top:374px;
  width:22px;
  height:68px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u18147 {
  position:absolute;
  left:2px;
  top:14px;
  width:18px;
  word-wrap:break-word;
}
#u18148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u18148 {
  position:absolute;
  left:703px;
  top:500px;
  width:5px;
  height:5px;
}
#u18149 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u18150 {
  position:absolute;
  left:716px;
  top:500px;
  width:5px;
  height:5px;
}
#u18151 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u18152 {
  position:absolute;
  left:690px;
  top:500px;
  width:5px;
  height:5px;
}
#u18153 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18154 {
  position:absolute;
  left:519px;
  top:599px;
  width:379px;
  height:180px;
}
#u18155 {
  position:absolute;
  left:2px;
  top:82px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18156 {
  position:absolute;
  left:519px;
  top:601px;
  width:379px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18157 {
  position:absolute;
  left:2px;
  top:4px;
  width:375px;
  word-wrap:break-word;
}
#u18158 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:72px;
  background:inherit;
  background-color:rgba(101, 101, 101, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u18159 {
  position:absolute;
  left:528px;
  top:633px;
  width:101px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u18160 {
  position:absolute;
  left:0px;
  top:36px;
  width:101px;
  word-wrap:break-word;
}
#u18161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u18161 {
  position:absolute;
  left:572px;
  top:661px;
  width:11px;
  height:16px;
  opacity:0.4;
  font-size:48px;
  color:#989898;
}
#u18162 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u18163 {
  position:absolute;
  left:533px;
  top:713px;
  width:97px;
  height:31px;
  font-size:12px;
}
#u18164 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u18165 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:72px;
  background:inherit;
  background-color:rgba(101, 101, 101, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u18166 {
  position:absolute;
  left:654px;
  top:633px;
  width:101px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u18167 {
  position:absolute;
  left:0px;
  top:36px;
  width:101px;
  word-wrap:break-word;
}
#u18168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u18168 {
  position:absolute;
  left:698px;
  top:661px;
  width:11px;
  height:16px;
  opacity:0.4;
  font-size:48px;
  color:#989898;
}
#u18169 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u18170 {
  position:absolute;
  left:659px;
  top:713px;
  width:97px;
  height:31px;
  font-size:12px;
}
#u18171 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u18172 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:72px;
  background:inherit;
  background-color:rgba(101, 101, 101, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u18173 {
  position:absolute;
  left:781px;
  top:633px;
  width:101px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u18174 {
  position:absolute;
  left:0px;
  top:36px;
  width:101px;
  word-wrap:break-word;
}
#u18175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u18175 {
  position:absolute;
  left:825px;
  top:661px;
  width:11px;
  height:16px;
  opacity:0.4;
  font-size:48px;
  color:#989898;
}
#u18176 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u18177 {
  position:absolute;
  left:786px;
  top:713px;
  width:97px;
  height:31px;
  font-size:12px;
}
#u18178 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u18179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u18179 {
  position:absolute;
  left:519px;
  top:748px;
  width:378px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u18180 {
  position:absolute;
  left:2px;
  top:4px;
  width:374px;
  word-wrap:break-word;
}
#u18181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:2px;
}
#u18181 {
  position:absolute;
  left:528px;
  top:744px;
  width:355px;
  height:1px;
}
#u18182 {
  position:absolute;
  left:2px;
  top:-8px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18183 {
  position:absolute;
  left:522px;
  top:785px;
  width:378px;
  height:147px;
}
#u18184 {
  position:absolute;
  left:2px;
  top:66px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18185 {
  position:absolute;
  left:520px;
  top:787px;
  width:379px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18186 {
  position:absolute;
  left:2px;
  top:4px;
  width:375px;
  word-wrap:break-word;
}
#u18187 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18188 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u18189 {
  position:absolute;
  left:521px;
  top:818px;
  width:378px;
  height:105px;
  text-align:left;
}
#u18190 {
  position:absolute;
  left:2px;
  top:44px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18191 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:87px;
  background:inherit;
  background-color:rgba(101, 101, 101, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u18192 {
  position:absolute;
  left:766px;
  top:828px;
  width:125px;
  height:87px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u18193 {
  position:absolute;
  left:0px;
  top:51px;
  width:125px;
  word-wrap:break-word;
}
#u18194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:19px;
}
#u18194 {
  position:absolute;
  left:820px;
  top:862px;
  width:13px;
  height:19px;
  opacity:0.4;
  font-size:48px;
  color:#989898;
}
#u18195 {
  position:absolute;
  left:2px;
  top:2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18196 {
  position:absolute;
  left:530px;
  top:828px;
  width:211px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18197 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u18198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u18198 {
  position:absolute;
  left:530px;
  top:900px;
  width:37px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u18199 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u18200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u18200 {
  position:absolute;
  left:721px;
  top:901px;
  width:27px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u18201 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u18202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:2px;
}
#u18202 {
  position:absolute;
  left:528px;
  top:925px;
  width:355px;
  height:1px;
}
#u18203 {
  position:absolute;
  left:2px;
  top:-8px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18204 {
  position:absolute;
  left:520px;
  top:523px;
}
#u18204_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:471px;
  height:75px;
  background-image:none;
}
#u18204_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18205 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18206 {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:75px;
}
#u18207 {
  position:absolute;
  left:2px;
  top:30px;
  width:467px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18208 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u18209 {
  position:absolute;
  left:11px;
  top:7px;
  width:42px;
  height:42px;
}
#u18210 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u18211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u18211 {
  position:absolute;
  left:8px;
  top:54px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u18212 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18213 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u18214 {
  position:absolute;
  left:89px;
  top:7px;
  width:42px;
  height:42px;
}
#u18215 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u18216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u18216 {
  position:absolute;
  left:89px;
  top:54px;
  width:40px;
  height:17px;
  font-size:12px;
}
#u18217 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u18218 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u18219 {
  position:absolute;
  left:167px;
  top:7px;
  width:42px;
  height:42px;
}
#u18220 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u18221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u18221 {
  position:absolute;
  left:164px;
  top:54px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u18222 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18223 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u18224 {
  position:absolute;
  left:244px;
  top:7px;
  width:42px;
  height:42px;
}
#u18225 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u18226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u18226 {
  position:absolute;
  left:241px;
  top:54px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u18227 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18228 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u18229 {
  position:absolute;
  left:322px;
  top:7px;
  width:42px;
  height:42px;
}
#u18230 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u18231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u18231 {
  position:absolute;
  left:319px;
  top:54px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u18232 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18233 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u18234 {
  position:absolute;
  left:402px;
  top:7px;
  width:42px;
  height:42px;
}
#u18235 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u18236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u18236 {
  position:absolute;
  left:399px;
  top:54px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u18237 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18238_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u18238 {
  position:absolute;
  left:1015px;
  top:546px;
  width:30px;
  height:30px;
}
#u18239 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u18240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18240 {
  position:absolute;
  left:1057px;
  top:549px;
  width:109px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18241 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u18242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18242 {
  position:absolute;
  left:613px;
  top:142px;
  width:193px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18243 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
