body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-500px;
  width:666px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24734 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:836px;
}
#u24735 {
  position:absolute;
  left:500px;
  top:201px;
  width:425px;
  height:836px;
}
#u24736 {
  position:absolute;
  left:2px;
  top:410px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24737 {
  position:absolute;
  left:519px;
  top:268px;
  width:379px;
  height:671px;
}
#u24738 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24739 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24740 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:663px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24741 {
  position:absolute;
  left:520px;
  top:269px;
  width:379px;
  height:663px;
}
#u24742 {
  position:absolute;
  left:2px;
  top:324px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24743 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24744 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24745 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:64px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u24746 {
  position:absolute;
  left:520px;
  top:269px;
  width:379px;
  height:64px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u24747 {
  position:absolute;
  left:0px;
  top:30px;
  width:379px;
  word-wrap:break-word;
}
#u24748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:14px;
}
#u24748 {
  position:absolute;
  left:526px;
  top:273px;
  width:368px;
  height:14px;
}
#u24749 {
  position:absolute;
  left:2px;
  top:-1px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24750 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u24751 {
  position:absolute;
  left:557px;
  top:300px;
  width:61px;
  height:20px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u24752 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u24753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u24753 {
  position:absolute;
  left:538px;
  top:300px;
  width:19px;
  height:20px;
  font-family:'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u24754 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u24755 {
  position:absolute;
  left:864px;
  top:300px;
  width:15px;
  height:16px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u24756 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u24757 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:176px;
  background:inherit;
  background-color:rgba(101, 101, 101, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u24758 {
  position:absolute;
  left:520px;
  top:337px;
  width:379px;
  height:176px;
  color:#FFFFFF;
  text-align:left;
}
#u24759 {
  position:absolute;
  left:0px;
  top:140px;
  width:379px;
  word-wrap:break-word;
}
#u24760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:37px;
}
#u24760 {
  position:absolute;
  left:690px;
  top:407px;
  width:40px;
  height:37px;
  opacity:0.4;
  font-size:48px;
  color:#989898;
}
#u24761 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:68px;
}
#u24762 {
  position:absolute;
  left:520px;
  top:374px;
  width:22px;
  height:68px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u24763 {
  position:absolute;
  left:2px;
  top:14px;
  width:18px;
  word-wrap:break-word;
}
#u24764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u24764 {
  position:absolute;
  left:703px;
  top:500px;
  width:5px;
  height:5px;
}
#u24765 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u24766 {
  position:absolute;
  left:716px;
  top:500px;
  width:5px;
  height:5px;
}
#u24767 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u24768 {
  position:absolute;
  left:690px;
  top:500px;
  width:5px;
  height:5px;
}
#u24769 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24770 {
  position:absolute;
  left:519px;
  top:599px;
  width:379px;
  height:180px;
}
#u24771 {
  position:absolute;
  left:2px;
  top:82px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u24772 {
  position:absolute;
  left:519px;
  top:601px;
  width:379px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u24773 {
  position:absolute;
  left:2px;
  top:4px;
  width:375px;
  word-wrap:break-word;
}
#u24774 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:72px;
  background:inherit;
  background-color:rgba(101, 101, 101, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u24775 {
  position:absolute;
  left:528px;
  top:633px;
  width:101px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u24776 {
  position:absolute;
  left:0px;
  top:36px;
  width:101px;
  word-wrap:break-word;
}
#u24777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u24777 {
  position:absolute;
  left:572px;
  top:661px;
  width:11px;
  height:16px;
  opacity:0.4;
  font-size:48px;
  color:#989898;
}
#u24778 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u24779 {
  position:absolute;
  left:533px;
  top:713px;
  width:97px;
  height:31px;
  font-size:12px;
}
#u24780 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u24781 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:72px;
  background:inherit;
  background-color:rgba(101, 101, 101, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u24782 {
  position:absolute;
  left:654px;
  top:633px;
  width:101px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u24783 {
  position:absolute;
  left:0px;
  top:36px;
  width:101px;
  word-wrap:break-word;
}
#u24784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u24784 {
  position:absolute;
  left:698px;
  top:661px;
  width:11px;
  height:16px;
  opacity:0.4;
  font-size:48px;
  color:#989898;
}
#u24785 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u24786 {
  position:absolute;
  left:659px;
  top:713px;
  width:97px;
  height:31px;
  font-size:12px;
}
#u24787 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u24788 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:72px;
  background:inherit;
  background-color:rgba(101, 101, 101, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u24789 {
  position:absolute;
  left:781px;
  top:633px;
  width:101px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u24790 {
  position:absolute;
  left:0px;
  top:36px;
  width:101px;
  word-wrap:break-word;
}
#u24791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u24791 {
  position:absolute;
  left:825px;
  top:661px;
  width:11px;
  height:16px;
  opacity:0.4;
  font-size:48px;
  color:#989898;
}
#u24792 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u24793 {
  position:absolute;
  left:786px;
  top:713px;
  width:97px;
  height:31px;
  font-size:12px;
}
#u24794 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u24795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u24795 {
  position:absolute;
  left:519px;
  top:748px;
  width:378px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u24796 {
  position:absolute;
  left:2px;
  top:4px;
  width:374px;
  word-wrap:break-word;
}
#u24797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:2px;
}
#u24797 {
  position:absolute;
  left:528px;
  top:744px;
  width:355px;
  height:1px;
}
#u24798 {
  position:absolute;
  left:2px;
  top:-8px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24799 {
  position:absolute;
  left:522px;
  top:785px;
  width:378px;
  height:147px;
}
#u24800 {
  position:absolute;
  left:2px;
  top:66px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u24801 {
  position:absolute;
  left:520px;
  top:787px;
  width:379px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u24802 {
  position:absolute;
  left:2px;
  top:4px;
  width:375px;
  word-wrap:break-word;
}
#u24803 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24804 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u24805 {
  position:absolute;
  left:521px;
  top:818px;
  width:378px;
  height:105px;
  text-align:left;
}
#u24806 {
  position:absolute;
  left:2px;
  top:44px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24807 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:87px;
  background:inherit;
  background-color:rgba(101, 101, 101, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u24808 {
  position:absolute;
  left:766px;
  top:828px;
  width:125px;
  height:87px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u24809 {
  position:absolute;
  left:0px;
  top:51px;
  width:125px;
  word-wrap:break-word;
}
#u24810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:19px;
}
#u24810 {
  position:absolute;
  left:820px;
  top:862px;
  width:13px;
  height:19px;
  opacity:0.4;
  font-size:48px;
  color:#989898;
}
#u24811 {
  position:absolute;
  left:2px;
  top:2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24812 {
  position:absolute;
  left:530px;
  top:828px;
  width:211px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24813 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u24814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u24814 {
  position:absolute;
  left:530px;
  top:900px;
  width:37px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u24815 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u24816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u24816 {
  position:absolute;
  left:721px;
  top:901px;
  width:27px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u24817 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u24818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:2px;
}
#u24818 {
  position:absolute;
  left:528px;
  top:925px;
  width:355px;
  height:1px;
}
#u24819 {
  position:absolute;
  left:2px;
  top:-8px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24820 {
  position:absolute;
  left:520px;
  top:523px;
}
#u24820_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:471px;
  height:75px;
  background-image:none;
}
#u24820_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24821 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24822 {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:75px;
}
#u24823 {
  position:absolute;
  left:2px;
  top:30px;
  width:467px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24824 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u24825 {
  position:absolute;
  left:11px;
  top:7px;
  width:42px;
  height:42px;
}
#u24826 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u24827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u24827 {
  position:absolute;
  left:8px;
  top:54px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u24828 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u24829 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u24830 {
  position:absolute;
  left:89px;
  top:7px;
  width:42px;
  height:42px;
}
#u24831 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u24832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u24832 {
  position:absolute;
  left:89px;
  top:54px;
  width:40px;
  height:17px;
  font-size:12px;
}
#u24833 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u24834 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u24835 {
  position:absolute;
  left:167px;
  top:7px;
  width:42px;
  height:42px;
}
#u24836 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u24837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u24837 {
  position:absolute;
  left:164px;
  top:54px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u24838 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u24839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u24840 {
  position:absolute;
  left:244px;
  top:7px;
  width:42px;
  height:42px;
}
#u24841 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u24842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24842 {
  position:absolute;
  left:241px;
  top:54px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24843 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u24844 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u24845 {
  position:absolute;
  left:322px;
  top:7px;
  width:42px;
  height:42px;
}
#u24846 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u24847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24847 {
  position:absolute;
  left:319px;
  top:54px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24848 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u24849 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u24850 {
  position:absolute;
  left:402px;
  top:7px;
  width:42px;
  height:42px;
}
#u24851 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u24852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24852 {
  position:absolute;
  left:399px;
  top:54px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24853 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u24854_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u24854 {
  position:absolute;
  left:1015px;
  top:546px;
  width:30px;
  height:30px;
}
#u24855 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u24856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24856 {
  position:absolute;
  left:1057px;
  top:549px;
  width:109px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24857 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u24858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24858 {
  position:absolute;
  left:613px;
  top:142px;
  width:193px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24859 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
