body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-500px;
  width:666px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24815 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:836px;
}
#u24816 {
  position:absolute;
  left:500px;
  top:201px;
  width:425px;
  height:836px;
}
#u24817 {
  position:absolute;
  left:2px;
  top:410px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24818 {
  position:absolute;
  left:519px;
  top:268px;
  width:379px;
  height:671px;
}
#u24819 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24820 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24821 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:663px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24822 {
  position:absolute;
  left:520px;
  top:269px;
  width:379px;
  height:663px;
}
#u24823 {
  position:absolute;
  left:2px;
  top:324px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24824 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24825 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24826 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:64px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u24827 {
  position:absolute;
  left:520px;
  top:269px;
  width:379px;
  height:64px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u24828 {
  position:absolute;
  left:0px;
  top:30px;
  width:379px;
  word-wrap:break-word;
}
#u24829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:14px;
}
#u24829 {
  position:absolute;
  left:526px;
  top:273px;
  width:368px;
  height:14px;
}
#u24830 {
  position:absolute;
  left:2px;
  top:-1px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24831 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u24832 {
  position:absolute;
  left:557px;
  top:300px;
  width:61px;
  height:20px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u24833 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u24834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u24834 {
  position:absolute;
  left:538px;
  top:300px;
  width:19px;
  height:20px;
  font-family:'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u24835 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u24836 {
  position:absolute;
  left:864px;
  top:300px;
  width:15px;
  height:16px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u24837 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u24838 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:176px;
  background:inherit;
  background-color:rgba(101, 101, 101, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u24839 {
  position:absolute;
  left:520px;
  top:337px;
  width:379px;
  height:176px;
  color:#FFFFFF;
  text-align:left;
}
#u24840 {
  position:absolute;
  left:0px;
  top:140px;
  width:379px;
  word-wrap:break-word;
}
#u24841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:37px;
}
#u24841 {
  position:absolute;
  left:690px;
  top:407px;
  width:40px;
  height:37px;
  opacity:0.4;
  font-size:48px;
  color:#989898;
}
#u24842 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:68px;
}
#u24843 {
  position:absolute;
  left:520px;
  top:374px;
  width:22px;
  height:68px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:left;
}
#u24844 {
  position:absolute;
  left:2px;
  top:14px;
  width:18px;
  word-wrap:break-word;
}
#u24845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u24845 {
  position:absolute;
  left:703px;
  top:500px;
  width:5px;
  height:5px;
}
#u24846 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u24847 {
  position:absolute;
  left:716px;
  top:500px;
  width:5px;
  height:5px;
}
#u24848 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u24849 {
  position:absolute;
  left:690px;
  top:500px;
  width:5px;
  height:5px;
}
#u24850 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24851 {
  position:absolute;
  left:519px;
  top:599px;
  width:379px;
  height:180px;
}
#u24852 {
  position:absolute;
  left:2px;
  top:82px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u24853 {
  position:absolute;
  left:519px;
  top:601px;
  width:379px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u24854 {
  position:absolute;
  left:2px;
  top:4px;
  width:375px;
  word-wrap:break-word;
}
#u24855 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:72px;
  background:inherit;
  background-color:rgba(101, 101, 101, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u24856 {
  position:absolute;
  left:528px;
  top:633px;
  width:101px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u24857 {
  position:absolute;
  left:0px;
  top:36px;
  width:101px;
  word-wrap:break-word;
}
#u24858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u24858 {
  position:absolute;
  left:572px;
  top:661px;
  width:11px;
  height:16px;
  opacity:0.4;
  font-size:48px;
  color:#989898;
}
#u24859 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u24860 {
  position:absolute;
  left:533px;
  top:713px;
  width:97px;
  height:31px;
  font-size:12px;
}
#u24861 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u24862 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:72px;
  background:inherit;
  background-color:rgba(101, 101, 101, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u24863 {
  position:absolute;
  left:654px;
  top:633px;
  width:101px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u24864 {
  position:absolute;
  left:0px;
  top:36px;
  width:101px;
  word-wrap:break-word;
}
#u24865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u24865 {
  position:absolute;
  left:698px;
  top:661px;
  width:11px;
  height:16px;
  opacity:0.4;
  font-size:48px;
  color:#989898;
}
#u24866 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u24867 {
  position:absolute;
  left:659px;
  top:713px;
  width:97px;
  height:31px;
  font-size:12px;
}
#u24868 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u24869 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:72px;
  background:inherit;
  background-color:rgba(101, 101, 101, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u24870 {
  position:absolute;
  left:781px;
  top:633px;
  width:101px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u24871 {
  position:absolute;
  left:0px;
  top:36px;
  width:101px;
  word-wrap:break-word;
}
#u24872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u24872 {
  position:absolute;
  left:825px;
  top:661px;
  width:11px;
  height:16px;
  opacity:0.4;
  font-size:48px;
  color:#989898;
}
#u24873 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u24874 {
  position:absolute;
  left:786px;
  top:713px;
  width:97px;
  height:31px;
  font-size:12px;
}
#u24875 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u24876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u24876 {
  position:absolute;
  left:519px;
  top:748px;
  width:378px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u24877 {
  position:absolute;
  left:2px;
  top:4px;
  width:374px;
  word-wrap:break-word;
}
#u24878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:2px;
}
#u24878 {
  position:absolute;
  left:528px;
  top:744px;
  width:355px;
  height:1px;
}
#u24879 {
  position:absolute;
  left:2px;
  top:-8px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24880 {
  position:absolute;
  left:522px;
  top:785px;
  width:378px;
  height:147px;
}
#u24881 {
  position:absolute;
  left:2px;
  top:66px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u24882 {
  position:absolute;
  left:520px;
  top:787px;
  width:379px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u24883 {
  position:absolute;
  left:2px;
  top:4px;
  width:375px;
  word-wrap:break-word;
}
#u24884 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24885 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u24886 {
  position:absolute;
  left:521px;
  top:818px;
  width:378px;
  height:105px;
  text-align:left;
}
#u24887 {
  position:absolute;
  left:2px;
  top:44px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24888 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:87px;
  background:inherit;
  background-color:rgba(101, 101, 101, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u24889 {
  position:absolute;
  left:766px;
  top:828px;
  width:125px;
  height:87px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u24890 {
  position:absolute;
  left:0px;
  top:51px;
  width:125px;
  word-wrap:break-word;
}
#u24891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:19px;
}
#u24891 {
  position:absolute;
  left:820px;
  top:862px;
  width:13px;
  height:19px;
  opacity:0.4;
  font-size:48px;
  color:#989898;
}
#u24892 {
  position:absolute;
  left:2px;
  top:2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24893 {
  position:absolute;
  left:530px;
  top:828px;
  width:211px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24894 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u24895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u24895 {
  position:absolute;
  left:530px;
  top:900px;
  width:37px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u24896 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u24897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u24897 {
  position:absolute;
  left:721px;
  top:901px;
  width:27px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u24898 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u24899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:2px;
}
#u24899 {
  position:absolute;
  left:528px;
  top:925px;
  width:355px;
  height:1px;
}
#u24900 {
  position:absolute;
  left:2px;
  top:-8px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24901 {
  position:absolute;
  left:520px;
  top:523px;
}
#u24901_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:471px;
  height:75px;
  background-image:none;
}
#u24901_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24902 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24903 {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:75px;
}
#u24904 {
  position:absolute;
  left:2px;
  top:30px;
  width:467px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24905 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u24906 {
  position:absolute;
  left:11px;
  top:7px;
  width:42px;
  height:42px;
}
#u24907 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u24908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u24908 {
  position:absolute;
  left:8px;
  top:54px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u24909 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u24910 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u24911 {
  position:absolute;
  left:89px;
  top:7px;
  width:42px;
  height:42px;
}
#u24912 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u24913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u24913 {
  position:absolute;
  left:89px;
  top:54px;
  width:40px;
  height:17px;
  font-size:12px;
}
#u24914 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u24915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u24916 {
  position:absolute;
  left:167px;
  top:7px;
  width:42px;
  height:42px;
}
#u24917 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u24918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u24918 {
  position:absolute;
  left:164px;
  top:54px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u24919 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u24920 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u24921 {
  position:absolute;
  left:244px;
  top:7px;
  width:42px;
  height:42px;
}
#u24922 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u24923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24923 {
  position:absolute;
  left:241px;
  top:54px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24924 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u24925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u24926 {
  position:absolute;
  left:322px;
  top:7px;
  width:42px;
  height:42px;
}
#u24927 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u24928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24928 {
  position:absolute;
  left:319px;
  top:54px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24929 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u24930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u24931 {
  position:absolute;
  left:402px;
  top:7px;
  width:42px;
  height:42px;
}
#u24932 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u24933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24933 {
  position:absolute;
  left:399px;
  top:54px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24934 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u24935_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u24935 {
  position:absolute;
  left:1015px;
  top:546px;
  width:30px;
  height:30px;
}
#u24936 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u24937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24937 {
  position:absolute;
  left:1057px;
  top:549px;
  width:109px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24938 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u24939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24939 {
  position:absolute;
  left:613px;
  top:142px;
  width:193px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24940 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
