body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2476px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u23872 {
  position:absolute;
  left:166px;
  top:79px;
  width:225px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u23873 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u23874 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:790px;
}
#u23875 {
  position:absolute;
  left:163px;
  top:149px;
  width:403px;
  height:790px;
}
#u23876 {
  position:absolute;
  left:2px;
  top:387px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:636px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23877 {
  position:absolute;
  left:182px;
  top:212px;
  width:358px;
  height:636px;
}
#u23878 {
  position:absolute;
  left:2px;
  top:310px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:637px;
}
#u23879 {
  position:absolute;
  left:182px;
  top:212px;
  width:358px;
  height:637px;
}
#u23880 {
  position:absolute;
  left:2px;
  top:310px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:252px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23881 {
  position:absolute;
  left:206px;
  top:585px;
  width:302px;
  height:252px;
}
#u23882 {
  position:absolute;
  left:2px;
  top:118px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:143px;
}
#u23883 {
  position:absolute;
  left:269px;
  top:602px;
  width:176px;
  height:142px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23884 {
  position:absolute;
  left:2px;
  top:62px;
  width:172px;
  word-wrap:break-word;
}
#u23885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u23885 {
  position:absolute;
  left:228px;
  top:754px;
  width:267px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u23886 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u23887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23887 {
  position:absolute;
  left:215px;
  top:405px;
  width:300px;
  height:83px;
}
#u23888 {
  position:absolute;
  left:2px;
  top:34px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u23889 {
  position:absolute;
  left:215px;
  top:417px;
  width:299px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u23890 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  white-space:nowrap;
}
#u23891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border:none;
  border-radius:116px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u23891 {
  position:absolute;
  left:272px;
  top:793px;
  width:173px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u23892 {
  position:absolute;
  left:2px;
  top:10px;
  width:169px;
  word-wrap:break-word;
}
#u23893 {
  position:absolute;
  left:182px;
  top:212px;
  visibility:hidden;
}
#u23893_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:358px;
  height:636px;
  background-image:none;
}
#u23893_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:636px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.768627450980392);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23894 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:636px;
}
#u23895 {
  position:absolute;
  left:2px;
  top:310px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:140px;
}
#u23896 {
  position:absolute;
  left:71px;
  top:153px;
  width:222px;
  height:139px;
}
#u23897 {
  position:absolute;
  left:2px;
  top:60px;
  width:218px;
  word-wrap:break-word;
}
#u23898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u23898 {
  position:absolute;
  left:82px;
  top:341px;
  width:163px;
  height:50px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u23899 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u23900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u23900 {
  position:absolute;
  left:295px;
  top:31px;
  width:48px;
  height:48px;
  -webkit-transform:rotate(300deg);
  -moz-transform:rotate(300deg);
  -ms-transform:rotate(300deg);
  transform:rotate(300deg);
}
#u23901 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u23902 {
  position:absolute;
  left:274px;
  top:69px;
  width:48px;
  height:48px;
  -webkit-transform:rotate(300deg);
  -moz-transform:rotate(300deg);
  -ms-transform:rotate(300deg);
  transform:rotate(300deg);
}
#u23903 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23893_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:358px;
  height:636px;
  visibility:hidden;
  background-image:none;
}
#u23893_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:636px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.768627450980392);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23904 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:636px;
}
#u23905 {
  position:absolute;
  left:2px;
  top:310px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:140px;
}
#u23906 {
  position:absolute;
  left:68px;
  top:79px;
  width:222px;
  height:139px;
}
#u23907 {
  position:absolute;
  left:2px;
  top:60px;
  width:218px;
  word-wrap:break-word;
}
#u23908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u23908 {
  position:absolute;
  left:53px;
  top:269px;
  width:253px;
  height:50px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u23909 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u23910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:138px;
}
#u23910 {
  position:absolute;
  left:74px;
  top:370px;
  width:216px;
  height:137px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23911 {
  position:absolute;
  left:2px;
  top:60px;
  width:212px;
  word-wrap:break-word;
}
#u23912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23912 {
  position:absolute;
  left:68px;
  top:549px;
  width:218px;
  height:63px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23913 {
  position:absolute;
  left:2px;
  top:22px;
  width:214px;
  word-wrap:break-word;
}
#u23914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u23914 {
  position:absolute;
  left:714px;
  top:79px;
  width:238px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u23915 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  white-space:nowrap;
}
#u23916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:790px;
}
#u23917 {
  position:absolute;
  left:711px;
  top:149px;
  width:403px;
  height:790px;
}
#u23918 {
  position:absolute;
  left:2px;
  top:387px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:801px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23919 {
  position:absolute;
  left:730px;
  top:212px;
  width:358px;
  height:801px;
}
#u23920 {
  position:absolute;
  left:2px;
  top:392px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
}
#u23921 {
  position:absolute;
  left:819px;
  top:240px;
  width:181px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
}
#u23922 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u23923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:84px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23923 {
  position:absolute;
  left:759px;
  top:285px;
  width:300px;
  height:84px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23924 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u23925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:327px;
}
#u23925 {
  position:absolute;
  left:763px;
  top:457px;
  width:300px;
  height:326px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u23926 {
  position:absolute;
  left:2px;
  top:31px;
  width:296px;
  word-wrap:break-word;
}
#u23927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23927 {
  position:absolute;
  left:784px;
  top:383px;
  width:250px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23928 {
  position:absolute;
  left:2px;
  top:18px;
  width:246px;
  word-wrap:break-word;
}
#u23929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:129px;
}
#u23929 {
  position:absolute;
  left:800px;
  top:826px;
  width:225px;
  height:128px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23930 {
  position:absolute;
  left:2px;
  top:55px;
  width:221px;
  word-wrap:break-word;
}
#u23931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23931 {
  position:absolute;
  left:849px;
  top:970px;
  width:127px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23932 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u23933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u23933 {
  position:absolute;
  left:1156px;
  top:397px;
  width:109px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u23934 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u23935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u23935 {
  position:absolute;
  left:1158px;
  top:437px;
  width:218px;
  height:26px;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u23936 {
  position:absolute;
  left:8px;
  top:4px;
  width:210px;
  word-wrap:break-word;
}
#u23937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23937 {
  position:absolute;
  left:1508px;
  top:79px;
  width:257px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23938 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u23939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:790px;
}
#u23940 {
  position:absolute;
  left:1485px;
  top:147px;
  width:403px;
  height:790px;
}
#u23941 {
  position:absolute;
  left:2px;
  top:387px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:636px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23942 {
  position:absolute;
  left:1504px;
  top:210px;
  width:358px;
  height:636px;
}
#u23943 {
  position:absolute;
  left:2px;
  top:310px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:636px;
}
#u23944 {
  position:absolute;
  left:1504px;
  top:210px;
  width:357px;
  height:636px;
}
#u23945 {
  position:absolute;
  left:2px;
  top:310px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:432px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23946 {
  position:absolute;
  left:1503px;
  top:414px;
  width:358px;
  height:432px;
}
#u23947 {
  position:absolute;
  left:2px;
  top:208px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u23948 {
  position:absolute;
  left:1516px;
  top:422px;
  width:127px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u23949 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u23950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u23950 {
  position:absolute;
  left:1516px;
  top:457px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u23951 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u23952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u23952 {
  position:absolute;
  left:1810px;
  top:427px;
  width:37px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u23953 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u23954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:2px;
}
#u23954 {
  position:absolute;
  left:1503px;
  top:491px;
  width:358px;
  height:1px;
}
#u23955 {
  position:absolute;
  left:2px;
  top:-8px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u23957 {
  position:absolute;
  left:1514px;
  top:504px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u23958 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u23959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23959 {
  position:absolute;
  left:1514px;
  top:540px;
  width:337px;
  height:20px;
}
#u23960 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u23961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23961 {
  position:absolute;
  left:1514px;
  top:576px;
  width:337px;
  height:20px;
}
#u23962 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u23963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23963 {
  position:absolute;
  left:1514px;
  top:606px;
  width:320px;
  height:23px;
}
#u23964 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  white-space:nowrap;
}
#u23965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23965 {
  position:absolute;
  left:1514px;
  top:639px;
  width:320px;
  height:23px;
}
#u23966 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  white-space:nowrap;
}
#u23967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23967 {
  position:absolute;
  left:1514px;
  top:672px;
  width:320px;
  height:23px;
}
#u23968 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  white-space:nowrap;
}
#u23969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23969 {
  position:absolute;
  left:1514px;
  top:705px;
  width:320px;
  height:23px;
}
#u23970 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  white-space:nowrap;
}
#u23971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:41px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u23971 {
  position:absolute;
  left:1503px;
  top:805px;
  width:358px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u23972 {
  position:absolute;
  left:2px;
  top:12px;
  width:354px;
  word-wrap:break-word;
}
#u23973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#FFCC33;
}
#u23973 {
  position:absolute;
  left:1724px;
  top:386px;
  width:141px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#FFCC33;
}
#u23974 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u23975 {
  position:absolute;
  left:1503px;
  top:414px;
  visibility:hidden;
}
#u23975_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:358px;
  height:432px;
  background-image:none;
}
#u23975_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:432px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23976 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:432px;
}
#u23977 {
  position:absolute;
  left:2px;
  top:208px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23978 {
  position:absolute;
  left:13px;
  top:11px;
  width:133px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23979 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u23980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u23980 {
  position:absolute;
  left:325px;
  top:6px;
  width:27px;
  height:27px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u23981 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23982 {
  position:absolute;
  left:13px;
  top:52px;
  width:57px;
  height:20px;
}
#u23983 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23984 {
  position:absolute;
  left:13px;
  top:82px;
  width:337px;
  height:40px;
}
#u23985 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u23986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23986 {
  position:absolute;
  left:13px;
  top:135px;
  width:57px;
  height:20px;
}
#u23987 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23988 {
  position:absolute;
  left:13px;
  top:165px;
  width:337px;
  height:40px;
}
#u23989 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u23990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23990 {
  position:absolute;
  left:2096px;
  top:79px;
  width:225px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23991 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u23992 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:790px;
}
#u23993 {
  position:absolute;
  left:2073px;
  top:147px;
  width:403px;
  height:790px;
}
#u23994 {
  position:absolute;
  left:2px;
  top:387px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:636px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23995 {
  position:absolute;
  left:2092px;
  top:210px;
  width:358px;
  height:636px;
}
#u23996 {
  position:absolute;
  left:2px;
  top:310px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:636px;
}
#u23997 {
  position:absolute;
  left:2092px;
  top:210px;
  width:358px;
  height:636px;
}
#u23998 {
  position:absolute;
  left:2px;
  top:310px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:131px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23999 {
  position:absolute;
  left:2096px;
  top:273px;
  width:346px;
  height:131px;
}
#u24000 {
  position:absolute;
  left:2px;
  top:58px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u24001 {
  position:absolute;
  left:2362px;
  top:375px;
  width:71px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u24002 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
