body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1473px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:836px;
}
#u23038 {
  position:absolute;
  left:470px;
  top:156px;
  width:425px;
  height:836px;
}
#u23039 {
  position:absolute;
  left:2px;
  top:410px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23040 {
  position:absolute;
  left:489px;
  top:223px;
  width:379px;
  height:671px;
}
#u23041 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23042 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23043 {
  position:absolute;
  left:489px;
  top:223px;
  width:379px;
  height:671px;
}
#u23044 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:671px;
}
#u23045 {
  position:absolute;
  left:489px;
  top:223px;
  width:377px;
  height:671px;
}
#u23046 {
  position:absolute;
  left:2px;
  top:328px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23047 {
  position:absolute;
  left:497px;
  top:98px;
  width:369px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23048 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  white-space:nowrap;
}
#u23049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:336px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23049 {
  position:absolute;
  left:489px;
  top:559px;
  width:379px;
  height:336px;
}
#u23050 {
  position:absolute;
  left:2px;
  top:160px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(254, 216, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u23051 {
  position:absolute;
  left:641px;
  top:524px;
  width:26px;
  height:26px;
  font-size:16px;
}
#u23052 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u23053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(254, 216, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u23053 {
  position:absolute;
  left:689px;
  top:523px;
  width:26px;
  height:26px;
  font-size:16px;
}
#u23054 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u23055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3300;
}
#u23055 {
  position:absolute;
  left:641px;
  top:290px;
  width:99px;
  height:20px;
  color:#FF3300;
}
#u23056 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u23057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:278px;
}
#u23057 {
  position:absolute;
  left:487px;
  top:616px;
  width:379px;
  height:278px;
}
#u23058 {
  position:absolute;
  left:2px;
  top:131px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23059 {
  position:absolute;
  left:621px;
  top:568px;
  width:115px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23060 {
  position:absolute;
  left:2px;
  top:8px;
  width:111px;
  word-wrap:break-word;
}
#u23061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:149px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23061 {
  position:absolute;
  left:489px;
  top:696px;
  width:374px;
  height:149px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23062 {
  position:absolute;
  left:2px;
  top:2px;
  width:370px;
  word-wrap:break-word;
}
#u23063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:370px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23063 {
  position:absolute;
  left:488px;
  top:524px;
  width:379px;
  height:370px;
}
#u23064 {
  position:absolute;
  left:2px;
  top:177px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23065 {
  position:absolute;
  left:493px;
  top:524px;
  width:374px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23066 {
  position:absolute;
  left:2px;
  top:4px;
  width:370px;
  word-wrap:break-word;
}
#u23067 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23068 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23069 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u23070 {
  position:absolute;
  left:493px;
  top:561px;
  width:370px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u23071 {
  position:absolute;
  left:18px;
  top:14px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23072 {
  position:absolute;
  left:702px;
  top:571px;
  width:19px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23073 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u23074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u23074 {
  position:absolute;
  left:502px;
  top:566px;
  width:34px;
  height:34px;
}
#u23075 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u23076 {
  position:absolute;
  left:545px;
  top:576px;
  width:46px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u23077 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u23078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23078 {
  position:absolute;
  left:673px;
  top:574px;
  width:11px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23079 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u23080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23080 {
  position:absolute;
  left:733px;
  top:575px;
  width:11px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23081 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u23082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23082 {
  position:absolute;
  left:755px;
  top:572px;
  width:24px;
  height:24px;
}
#u23083 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u23084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23084 {
  position:absolute;
  left:787px;
  top:572px;
  width:76px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23085 {
  position:absolute;
  left:2px;
  top:3px;
  width:72px;
  word-wrap:break-word;
}
#u23086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23086 {
  position:absolute;
  left:493px;
  top:845px;
  width:370px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23087 {
  position:absolute;
  left:2px;
  top:16px;
  width:366px;
  word-wrap:break-word;
}
#u23088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6666FF;
}
#u23088 {
  position:absolute;
  left:805px;
  top:528px;
  width:57px;
  height:20px;
  color:#6666FF;
}
#u23089 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23090 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u23091 {
  position:absolute;
  left:554px;
  top:732px;
  width:37px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u23092 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u23093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u23093 {
  position:absolute;
  left:554px;
  top:773px;
  width:169px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u23094 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u23095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u23095 {
  position:absolute;
  left:554px;
  top:752px;
  width:51px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u23096 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u23097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u23097 {
  position:absolute;
  left:493px;
  top:732px;
  width:48px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23098 {
  position:absolute;
  left:2px;
  top:15px;
  width:44px;
  word-wrap:break-word;
}
#u23099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u23099 {
  position:absolute;
  left:505px;
  top:800px;
  width:207px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u23100 {
  position:absolute;
  left:2px;
  top:4px;
  width:203px;
  word-wrap:break-word;
}
#u23101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23101 {
  position:absolute;
  left:730px;
  top:799px;
  width:51px;
  height:30px;
}
#u23102 {
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  word-wrap:break-word;
}
#u23103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23103 {
  position:absolute;
  left:801px;
  top:799px;
  width:51px;
  height:30px;
}
#u23104 {
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  word-wrap:break-word;
}
#u23105 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23106 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u23107 {
  position:absolute;
  left:493px;
  top:616px;
  width:370px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u23108 {
  position:absolute;
  left:18px;
  top:14px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23109 {
  position:absolute;
  left:614px;
  top:627px;
  width:19px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23110 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u23111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u23111 {
  position:absolute;
  left:502px;
  top:625px;
  width:79px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u23112 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u23113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u23113 {
  position:absolute;
  left:633px;
  top:626px;
  width:79px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u23114 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u23115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23115 {
  position:absolute;
  left:587px;
  top:627px;
  width:24px;
  height:24px;
}
#u23116 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u23117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23117 {
  position:absolute;
  left:722px;
  top:628px;
  width:24px;
  height:24px;
}
#u23118 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u23119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23119 {
  position:absolute;
  left:786px;
  top:628px;
  width:76px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23120 {
  position:absolute;
  left:2px;
  top:3px;
  width:72px;
  word-wrap:break-word;
}
#u23121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:14px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23121 {
  position:absolute;
  left:488px;
  top:672px;
  width:379px;
  height:14px;
}
#u23122 {
  position:absolute;
  left:2px;
  top:-1px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23123 {
  position:absolute;
  left:493px;
  top:696px;
  width:57px;
  height:20px;
}
#u23124 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u23125 {
  position:absolute;
  left:493px;
  top:721px;
  width:370px;
  height:1px;
}
#u23126 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23127 {
  position:absolute;
  left:812px;
  top:732px;
  width:40px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23128 {
  position:absolute;
  left:2px;
  top:-10px;
  width:36px;
  word-wrap:break-word;
}
#u23129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u23129 {
  position:absolute;
  left:971px;
  top:300px;
  width:127px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u23130 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u23131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u23131 {
  position:absolute;
  left:973px;
  top:340px;
  width:500px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u23132 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u23133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u23133 {
  position:absolute;
  left:921px;
  top:290px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u23134 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u23135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u23135 {
  position:absolute;
  left:971px;
  top:485px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u23136 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u23137 {
  position:absolute;
  left:973px;
  top:525px;
  width:500px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u23138 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u23139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u23139 {
  position:absolute;
  left:921px;
  top:475px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u23140 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u23141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u23141 {
  position:absolute;
  left:971px;
  top:585px;
  width:109px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u23142 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u23143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u23143 {
  position:absolute;
  left:973px;
  top:625px;
  width:500px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u23144 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u23145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u23145 {
  position:absolute;
  left:921px;
  top:575px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u23146 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u23147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u23147 {
  position:absolute;
  left:971px;
  top:696px;
  width:91px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u23148 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u23149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u23149 {
  position:absolute;
  left:973px;
  top:736px;
  width:500px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u23150 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u23151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u23151 {
  position:absolute;
  left:921px;
  top:686px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u23152 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u23153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u23153 {
  position:absolute;
  left:971px;
  top:838px;
  width:55px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u23154 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u23155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u23155 {
  position:absolute;
  left:973px;
  top:878px;
  width:500px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u23156 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u23157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u23157 {
  position:absolute;
  left:921px;
  top:828px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u23158 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u23159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u23159 {
  position:absolute;
  left:513px;
  top:1034px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u23160 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u23161 {
  position:absolute;
  left:515px;
  top:1074px;
  width:500px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u23162 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u23163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u23163 {
  position:absolute;
  left:462px;
  top:1024px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u23164 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
