body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-350px;
  width:725px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:732px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26954 {
  position:absolute;
  left:352px;
  top:63px;
  width:375px;
  height:732px;
}
#u26955 {
  position:absolute;
  left:2px;
  top:358px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:54px;
}
#u26957 {
  position:absolute;
  left:350px;
  top:63px;
  width:377px;
  height:54px;
}
#u26958 {
  position:absolute;
  left:2px;
  top:19px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u26959 {
  position:absolute;
  left:488px;
  top:83px;
  width:84px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u26960 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u26961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26961 {
  position:absolute;
  left:352px;
  top:63px;
  width:375px;
  height:10px;
}
#u26962 {
  position:absolute;
  left:2px;
  top:-3px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u26963 {
  position:absolute;
  left:364px;
  top:128px;
  width:46px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u26964 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  word-wrap:break-word;
}
#u26965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u26965 {
  position:absolute;
  left:352px;
  top:115px;
  width:375px;
  height:1px;
}
#u26966 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26967 {
  position:absolute;
  left:420px;
  top:132px;
  width:29px;
  height:20px;
}
#u26968 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u26969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26969 {
  position:absolute;
  left:364px;
  top:186px;
  width:285px;
  height:20px;
}
#u26970 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  white-space:nowrap;
}
#u26971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:168px;
}
#u26971 {
  position:absolute;
  left:362px;
  top:215px;
  width:353px;
  height:168px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u26972 {
  position:absolute;
  left:2px;
  top:76px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26971_ann {
  position:absolute;
  left:708px;
  top:211px;
  width:1px;
  height:1px;
}
#u26973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:50px;
}
#u26973 {
  position:absolute;
  left:528px;
  top:272px;
  width:28px;
  height:50px;
}
#u26974 {
  position:absolute;
  left:2px;
  top:17px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u26975 {
  position:absolute;
  left:360px;
  top:83px;
  width:22px;
  height:22px;
}
#u26976 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFCC00;
}
#u26977 {
  position:absolute;
  left:420px;
  top:157px;
  width:64px;
  height:14px;
  font-size:10px;
  color:#FFCC00;
}
#u26978 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u26979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26979 {
  position:absolute;
  left:364px;
  top:393px;
  width:87px;
  height:20px;
}
#u26980 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u26981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26981 {
  position:absolute;
  left:504px;
  top:393px;
  width:73px;
  height:20px;
}
#u26982 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u26983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26983 {
  position:absolute;
  left:636px;
  top:392px;
  width:81px;
  height:20px;
}
#u26984 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u26985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26985 {
  position:absolute;
  left:353px;
  top:420px;
  width:373px;
  height:21px;
}
#u26986 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u26987 {
  position:absolute;
  left:364px;
  top:422px;
  width:76px;
  height:17px;
  font-size:12px;
  color:#949494;
}
#u26988 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u26989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26989 {
  position:absolute;
  left:353px;
  top:441px;
  width:373px;
  height:48px;
}
#u26990 {
  position:absolute;
  left:2px;
  top:16px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26991 {
  position:absolute;
  left:353px;
  top:485px;
  width:373px;
  height:21px;
}
#u26992 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u26993 {
  position:absolute;
  left:373px;
  top:447px;
  width:33px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u26994 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u26995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u26995 {
  position:absolute;
  left:416px;
  top:447px;
  width:33px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u26996 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u26997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u26997 {
  position:absolute;
  left:459px;
  top:447px;
  width:33px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u26998 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u26999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u26999 {
  position:absolute;
  left:502px;
  top:447px;
  width:33px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u27000 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u27001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u27001 {
  position:absolute;
  left:545px;
  top:447px;
  width:33px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u27002 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u27003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u27003 {
  position:absolute;
  left:588px;
  top:447px;
  width:33px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u27004 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u27005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u27005 {
  position:absolute;
  left:631px;
  top:447px;
  width:33px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u27006 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u27007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u27007 {
  position:absolute;
  left:674px;
  top:447px;
  width:33px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u27008 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u27009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u27009 {
  position:absolute;
  left:362px;
  top:487px;
  width:69px;
  height:17px;
  font-size:12px;
  color:#949494;
}
#u27010 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u27011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:61px;
}
#u27012 {
  position:absolute;
  left:353px;
  top:737px;
  width:374px;
  height:61px;
}
#u27013 {
  position:absolute;
  left:2px;
  top:22px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27014 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u27015 {
  position:absolute;
  left:360px;
  top:747px;
  width:294px;
  height:41px;
  font-size:20px;
}
#u27016 {
  position:absolute;
  left:2px;
  top:12px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#BFCDDA;
}
#u27017 {
  position:absolute;
  left:372px;
  top:753px;
  width:265px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#BFCDDA;
}
#u27018 {
  position:absolute;
  left:0px;
  top:4px;
  width:265px;
  word-wrap:break-word;
}
#u27019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u27019 {
  position:absolute;
  left:668px;
  top:754px;
  width:41px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u27020 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u27021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u27021 {
  position:absolute;
  left:373px;
  top:609px;
  width:46px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u27022 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  word-wrap:break-word;
}
#u27023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27023 {
  position:absolute;
  left:429px;
  top:613px;
  width:29px;
  height:20px;
}
#u27024 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u27025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#949494;
}
#u27025 {
  position:absolute;
  left:429px;
  top:638px;
  width:54px;
  height:14px;
  font-size:10px;
  color:#949494;
}
#u27026 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u27027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u27027 {
  position:absolute;
  left:429px;
  top:660px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u27028 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u27029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:2px;
}
#u27029 {
  position:absolute;
  left:429px;
  top:693px;
  width:298px;
  height:1px;
}
#u27030 {
  position:absolute;
  left:2px;
  top:-8px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u27031 {
  position:absolute;
  left:645px;
  top:612px;
  width:24px;
  height:21px;
}
#u27032 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u27033 {
  position:absolute;
  left:685px;
  top:609px;
  width:22px;
  height:24px;
}
#u27034 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27035 {
  position:absolute;
  left:416px;
  top:20px;
  width:261px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27036 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u27037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u27037 {
  position:absolute;
  left:645px;
  top:143px;
  width:64px;
  height:17px;
  color:#5E5E5E;
}
#u27038 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u27039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:93px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27039 {
  position:absolute;
  left:353px;
  top:506px;
  width:373px;
  height:93px;
}
#u27040 {
  position:absolute;
  left:2px;
  top:38px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u27041 {
  position:absolute;
  left:373px;
  top:514px;
  width:46px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u27042 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  word-wrap:break-word;
}
#u27043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27043 {
  position:absolute;
  left:429px;
  top:518px;
  width:29px;
  height:20px;
}
#u27044 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u27045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#949494;
}
#u27045 {
  position:absolute;
  left:429px;
  top:543px;
  width:54px;
  height:14px;
  font-size:10px;
  color:#949494;
}
#u27046 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u27047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27047 {
  position:absolute;
  left:429px;
  top:565px;
  width:118px;
  height:23px;
}
#u27048 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u27049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:2px;
}
#u27049 {
  position:absolute;
  left:429px;
  top:598px;
  width:298px;
  height:1px;
}
#u27050 {
  position:absolute;
  left:2px;
  top:-8px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u27051 {
  position:absolute;
  left:645px;
  top:517px;
  width:24px;
  height:21px;
}
#u27052 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u27053 {
  position:absolute;
  left:685px;
  top:514px;
  width:22px;
  height:24px;
}
#u27054 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27055_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:23px;
  height:23px;
}
#u27055 {
  position:absolute;
  left:406px;
  top:514px;
  width:13px;
  height:13px;
  font-size:10px;
}
#u27056 {
  position:absolute;
  left:2px;
  top:1px;
  width:9px;
  word-wrap:break-word;
}
#u27057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u27057 {
  position:absolute;
  left:459px;
  top:135px;
  width:16px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:6px;
}
#u27058 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  word-wrap:break-word;
}
#u27059_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u27059 {
  position:absolute;
  left:767px;
  top:387px;
  width:30px;
  height:30px;
}
#u27060 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u27061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u27061 {
  position:absolute;
  left:807px;
  top:380px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u27062 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u27063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u27063 {
  position:absolute;
  left:807px;
  top:405px;
  width:268px;
  height:40px;
  color:#949494;
}
#u27064 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  white-space:nowrap;
}
#u27065_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u27065 {
  position:absolute;
  left:767px;
  top:512px;
  width:30px;
  height:30px;
}
#u27066 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u27067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u27067 {
  position:absolute;
  left:807px;
  top:505px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u27068 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u27069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u27069 {
  position:absolute;
  left:807px;
  top:530px;
  width:155px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u27070 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u27071 {
  position:absolute;
  left:541px;
  top:393px;
  width:0px;
  height:0px;
}
#u27071_seg0 {
  position:absolute;
  left:-4px;
  top:-48px;
  width:8px;
  height:48px;
}
#u27071_seg1 {
  position:absolute;
  left:-4px;
  top:-48px;
  width:249px;
  height:8px;
}
#u27071_seg2 {
  position:absolute;
  left:237px;
  top:-48px;
  width:8px;
  height:42px;
}
#u27071_seg3 {
  position:absolute;
  left:231px;
  top:-21px;
  width:20px;
  height:20px;
}
#u27072 {
  position:absolute;
  left:68px;
  top:-52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27073 {
  position:absolute;
  left:726px;
  top:553px;
  width:0px;
  height:0px;
}
#u27073_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:28px;
  height:8px;
}
#u27073_seg1 {
  position:absolute;
  left:20px;
  top:-30px;
  width:8px;
  height:34px;
}
#u27073_seg2 {
  position:absolute;
  left:20px;
  top:-30px;
  width:21px;
  height:8px;
}
#u27073_seg3 {
  position:absolute;
  left:26px;
  top:-36px;
  width:20px;
  height:20px;
}
#u27074 {
  position:absolute;
  left:-26px;
  top:-18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u27075 {
  position:absolute;
  left:429px;
  top:705px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u27076 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u27077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:2px;
}
#u27077 {
  position:absolute;
  left:429px;
  top:737px;
  width:298px;
  height:1px;
}
#u27078 {
  position:absolute;
  left:2px;
  top:-8px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#949494;
}
#u27079 {
  position:absolute;
  left:655px;
  top:709px;
  width:54px;
  height:14px;
  font-size:10px;
  color:#949494;
}
#u27080 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u27081_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u27081 {
  position:absolute;
  left:767px;
  top:740px;
  width:30px;
  height:30px;
}
#u27082 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u27083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u27083 {
  position:absolute;
  left:807px;
  top:743px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u27084 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u27085 {
  position:absolute;
  left:709px;
  top:716px;
  width:0px;
  height:0px;
}
#u27085_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:45px;
  height:8px;
}
#u27085_seg1 {
  position:absolute;
  left:37px;
  top:-4px;
  width:8px;
  height:47px;
}
#u27085_seg2 {
  position:absolute;
  left:37px;
  top:35px;
  width:21px;
  height:8px;
}
#u27085_seg3 {
  position:absolute;
  left:43px;
  top:29px;
  width:20px;
  height:20px;
}
#u27086 {
  position:absolute;
  left:-9px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
