body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-350px;
  width:725px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:732px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21422 {
  position:absolute;
  left:352px;
  top:63px;
  width:375px;
  height:732px;
}
#u21423 {
  position:absolute;
  left:2px;
  top:358px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21424 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:54px;
}
#u21425 {
  position:absolute;
  left:350px;
  top:63px;
  width:377px;
  height:54px;
}
#u21426 {
  position:absolute;
  left:2px;
  top:19px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u21427 {
  position:absolute;
  left:488px;
  top:83px;
  width:84px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u21428 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u21429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21429 {
  position:absolute;
  left:352px;
  top:63px;
  width:375px;
  height:10px;
}
#u21430 {
  position:absolute;
  left:2px;
  top:-3px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u21431 {
  position:absolute;
  left:364px;
  top:128px;
  width:46px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21432 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  word-wrap:break-word;
}
#u21433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u21433 {
  position:absolute;
  left:352px;
  top:115px;
  width:375px;
  height:1px;
}
#u21434 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21435 {
  position:absolute;
  left:420px;
  top:132px;
  width:29px;
  height:20px;
}
#u21436 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21437 {
  position:absolute;
  left:364px;
  top:186px;
  width:285px;
  height:20px;
}
#u21438 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  white-space:nowrap;
}
#u21439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:168px;
}
#u21439 {
  position:absolute;
  left:362px;
  top:215px;
  width:353px;
  height:168px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21440 {
  position:absolute;
  left:2px;
  top:76px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21439_ann {
  position:absolute;
  left:708px;
  top:211px;
  width:1px;
  height:1px;
}
#u21441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:50px;
}
#u21441 {
  position:absolute;
  left:528px;
  top:272px;
  width:28px;
  height:50px;
}
#u21442 {
  position:absolute;
  left:2px;
  top:17px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u21443 {
  position:absolute;
  left:360px;
  top:83px;
  width:22px;
  height:22px;
}
#u21444 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFCC00;
}
#u21445 {
  position:absolute;
  left:420px;
  top:157px;
  width:64px;
  height:14px;
  font-size:10px;
  color:#FFCC00;
}
#u21446 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u21447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21447 {
  position:absolute;
  left:364px;
  top:393px;
  width:87px;
  height:20px;
}
#u21448 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u21449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21449 {
  position:absolute;
  left:504px;
  top:393px;
  width:73px;
  height:20px;
}
#u21450 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21451 {
  position:absolute;
  left:636px;
  top:392px;
  width:81px;
  height:20px;
}
#u21452 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u21453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21453 {
  position:absolute;
  left:353px;
  top:420px;
  width:373px;
  height:21px;
}
#u21454 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u21455 {
  position:absolute;
  left:364px;
  top:422px;
  width:76px;
  height:17px;
  font-size:12px;
  color:#949494;
}
#u21456 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u21457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21457 {
  position:absolute;
  left:353px;
  top:441px;
  width:373px;
  height:48px;
}
#u21458 {
  position:absolute;
  left:2px;
  top:16px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21459 {
  position:absolute;
  left:353px;
  top:485px;
  width:373px;
  height:21px;
}
#u21460 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u21461 {
  position:absolute;
  left:373px;
  top:447px;
  width:33px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21462 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u21463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u21463 {
  position:absolute;
  left:416px;
  top:447px;
  width:33px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21464 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u21465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u21465 {
  position:absolute;
  left:459px;
  top:447px;
  width:33px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21466 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u21467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u21467 {
  position:absolute;
  left:502px;
  top:447px;
  width:33px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21468 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u21469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u21469 {
  position:absolute;
  left:545px;
  top:447px;
  width:33px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21470 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u21471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u21471 {
  position:absolute;
  left:588px;
  top:447px;
  width:33px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21472 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u21473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u21473 {
  position:absolute;
  left:631px;
  top:447px;
  width:33px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21474 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u21475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u21475 {
  position:absolute;
  left:674px;
  top:447px;
  width:33px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21476 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u21477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u21477 {
  position:absolute;
  left:362px;
  top:487px;
  width:69px;
  height:17px;
  font-size:12px;
  color:#949494;
}
#u21478 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u21479 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:61px;
}
#u21480 {
  position:absolute;
  left:353px;
  top:737px;
  width:374px;
  height:61px;
}
#u21481 {
  position:absolute;
  left:2px;
  top:22px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21482 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u21483 {
  position:absolute;
  left:360px;
  top:747px;
  width:294px;
  height:41px;
  font-size:20px;
}
#u21484 {
  position:absolute;
  left:2px;
  top:12px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#BFCDDA;
}
#u21485 {
  position:absolute;
  left:372px;
  top:753px;
  width:265px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#BFCDDA;
}
#u21486 {
  position:absolute;
  left:0px;
  top:4px;
  width:265px;
  word-wrap:break-word;
}
#u21487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u21487 {
  position:absolute;
  left:668px;
  top:754px;
  width:41px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u21488 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u21489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u21489 {
  position:absolute;
  left:373px;
  top:609px;
  width:46px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21490 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  word-wrap:break-word;
}
#u21491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21491 {
  position:absolute;
  left:429px;
  top:613px;
  width:29px;
  height:20px;
}
#u21492 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#949494;
}
#u21493 {
  position:absolute;
  left:429px;
  top:638px;
  width:54px;
  height:14px;
  font-size:10px;
  color:#949494;
}
#u21494 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u21495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21495 {
  position:absolute;
  left:429px;
  top:660px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21496 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u21497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:2px;
}
#u21497 {
  position:absolute;
  left:429px;
  top:693px;
  width:298px;
  height:1px;
}
#u21498 {
  position:absolute;
  left:2px;
  top:-8px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u21499 {
  position:absolute;
  left:645px;
  top:612px;
  width:24px;
  height:21px;
}
#u21500 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u21501 {
  position:absolute;
  left:685px;
  top:609px;
  width:22px;
  height:24px;
}
#u21502 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21503 {
  position:absolute;
  left:416px;
  top:20px;
  width:261px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21504 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u21505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u21505 {
  position:absolute;
  left:645px;
  top:143px;
  width:64px;
  height:17px;
  color:#5E5E5E;
}
#u21506 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u21507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:93px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21507 {
  position:absolute;
  left:353px;
  top:506px;
  width:373px;
  height:93px;
}
#u21508 {
  position:absolute;
  left:2px;
  top:38px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u21509 {
  position:absolute;
  left:373px;
  top:514px;
  width:46px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21510 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  word-wrap:break-word;
}
#u21511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21511 {
  position:absolute;
  left:429px;
  top:518px;
  width:29px;
  height:20px;
}
#u21512 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#949494;
}
#u21513 {
  position:absolute;
  left:429px;
  top:543px;
  width:54px;
  height:14px;
  font-size:10px;
  color:#949494;
}
#u21514 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u21515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21515 {
  position:absolute;
  left:429px;
  top:565px;
  width:118px;
  height:23px;
}
#u21516 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u21517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:2px;
}
#u21517 {
  position:absolute;
  left:429px;
  top:598px;
  width:298px;
  height:1px;
}
#u21518 {
  position:absolute;
  left:2px;
  top:-8px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u21519 {
  position:absolute;
  left:645px;
  top:517px;
  width:24px;
  height:21px;
}
#u21520 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u21521 {
  position:absolute;
  left:685px;
  top:514px;
  width:22px;
  height:24px;
}
#u21522 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21523_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:23px;
  height:23px;
}
#u21523 {
  position:absolute;
  left:406px;
  top:514px;
  width:13px;
  height:13px;
  font-size:10px;
}
#u21524 {
  position:absolute;
  left:2px;
  top:1px;
  width:9px;
  word-wrap:break-word;
}
#u21525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u21525 {
  position:absolute;
  left:459px;
  top:135px;
  width:16px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:6px;
}
#u21526 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  word-wrap:break-word;
}
#u21527_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u21527 {
  position:absolute;
  left:767px;
  top:387px;
  width:30px;
  height:30px;
}
#u21528 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u21529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u21529 {
  position:absolute;
  left:807px;
  top:380px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u21530 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u21531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u21531 {
  position:absolute;
  left:807px;
  top:405px;
  width:268px;
  height:40px;
  color:#949494;
}
#u21532 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  white-space:nowrap;
}
#u21533_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u21533 {
  position:absolute;
  left:767px;
  top:512px;
  width:30px;
  height:30px;
}
#u21534 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u21535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u21535 {
  position:absolute;
  left:807px;
  top:505px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u21536 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u21537 {
  position:absolute;
  left:807px;
  top:530px;
  width:155px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u21538 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u21539 {
  position:absolute;
  left:541px;
  top:393px;
  width:0px;
  height:0px;
}
#u21539_seg0 {
  position:absolute;
  left:-4px;
  top:-48px;
  width:8px;
  height:48px;
}
#u21539_seg1 {
  position:absolute;
  left:-4px;
  top:-48px;
  width:249px;
  height:8px;
}
#u21539_seg2 {
  position:absolute;
  left:237px;
  top:-48px;
  width:8px;
  height:42px;
}
#u21539_seg3 {
  position:absolute;
  left:231px;
  top:-21px;
  width:20px;
  height:20px;
}
#u21540 {
  position:absolute;
  left:68px;
  top:-52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21541 {
  position:absolute;
  left:726px;
  top:553px;
  width:0px;
  height:0px;
}
#u21541_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:28px;
  height:8px;
}
#u21541_seg1 {
  position:absolute;
  left:20px;
  top:-30px;
  width:8px;
  height:34px;
}
#u21541_seg2 {
  position:absolute;
  left:20px;
  top:-30px;
  width:21px;
  height:8px;
}
#u21541_seg3 {
  position:absolute;
  left:26px;
  top:-36px;
  width:20px;
  height:20px;
}
#u21542 {
  position:absolute;
  left:-26px;
  top:-18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21543 {
  position:absolute;
  left:429px;
  top:705px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21544 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u21545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:2px;
}
#u21545 {
  position:absolute;
  left:429px;
  top:737px;
  width:298px;
  height:1px;
}
#u21546 {
  position:absolute;
  left:2px;
  top:-8px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#949494;
}
#u21547 {
  position:absolute;
  left:655px;
  top:709px;
  width:54px;
  height:14px;
  font-size:10px;
  color:#949494;
}
#u21548 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u21549_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u21549 {
  position:absolute;
  left:767px;
  top:740px;
  width:30px;
  height:30px;
}
#u21550 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u21551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u21551 {
  position:absolute;
  left:807px;
  top:743px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u21552 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21553 {
  position:absolute;
  left:709px;
  top:716px;
  width:0px;
  height:0px;
}
#u21553_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:45px;
  height:8px;
}
#u21553_seg1 {
  position:absolute;
  left:37px;
  top:-4px;
  width:8px;
  height:47px;
}
#u21553_seg2 {
  position:absolute;
  left:37px;
  top:35px;
  width:21px;
  height:8px;
}
#u21553_seg3 {
  position:absolute;
  left:43px;
  top:29px;
  width:20px;
  height:20px;
}
#u21554 {
  position:absolute;
  left:-9px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
