body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:926px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:836px;
}
#u18960 {
  position:absolute;
  left:501px;
  top:203px;
  width:425px;
  height:836px;
}
#u18961 {
  position:absolute;
  left:2px;
  top:410px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18962 {
  position:absolute;
  left:520px;
  top:270px;
  width:379px;
  height:671px;
}
#u18963 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18964 {
  position:absolute;
  left:640px;
  top:144px;
  width:97px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18965 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u18966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u18966 {
  position:absolute;
  left:519px;
  top:267px;
  width:380px;
  height:676px;
}
#u18967 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:609px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18968 {
  position:absolute;
  left:519px;
  top:334px;
  width:380px;
  height:609px;
}
#u18969 {
  position:absolute;
  left:2px;
  top:296px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:77px;
}
#u18970 {
  position:absolute;
  left:662px;
  top:378px;
  width:80px;
  height:77px;
}
#u18971 {
  position:absolute;
  left:2px;
  top:30px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u18972 {
  position:absolute;
  left:722px;
  top:435px;
  width:18px;
  height:20px;
}
#u18973 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18974 {
  position:absolute;
  left:566px;
  top:889px;
  width:296px;
  height:40px;
}
#u18975 {
  position:absolute;
  left:2px;
  top:11px;
  width:292px;
  word-wrap:break-word;
}
#u18976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u18976 {
  position:absolute;
  left:668px;
  top:465px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u18977 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u18978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u18978 {
  position:absolute;
  left:663px;
  top:496px;
  width:85px;
  height:20px;
  color:#C9C9C9;
}
#u18979 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u18980 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18981 {
  position:absolute;
  left:536px;
  top:536px;
  width:107px;
  height:76px;
}
#u18982 {
  position:absolute;
  left:2px;
  top:30px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18983 {
  position:absolute;
  left:581px;
  top:549px;
  width:27px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18984 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u18985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u18985 {
  position:absolute;
  left:575px;
  top:587px;
  width:37px;
  height:16px;
  color:#C9C9C9;
}
#u18986 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u18987 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18988 {
  position:absolute;
  left:653px;
  top:536px;
  width:107px;
  height:76px;
}
#u18989 {
  position:absolute;
  left:2px;
  top:30px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18990 {
  position:absolute;
  left:698px;
  top:549px;
  width:27px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18991 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u18992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u18992 {
  position:absolute;
  left:692px;
  top:587px;
  width:37px;
  height:16px;
  color:#C9C9C9;
}
#u18993 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u18994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18995 {
  position:absolute;
  left:776px;
  top:536px;
  width:107px;
  height:76px;
}
#u18996 {
  position:absolute;
  left:2px;
  top:30px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18997 {
  position:absolute;
  left:812px;
  top:549px;
  width:41px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18998 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u18999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u18999 {
  position:absolute;
  left:815px;
  top:587px;
  width:37px;
  height:16px;
  color:#C9C9C9;
}
#u19000 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19002 {
  position:absolute;
  left:536px;
  top:622px;
  width:107px;
  height:76px;
}
#u19003 {
  position:absolute;
  left:2px;
  top:30px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19004 {
  position:absolute;
  left:577px;
  top:635px;
  width:41px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19005 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u19006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u19006 {
  position:absolute;
  left:575px;
  top:673px;
  width:37px;
  height:16px;
  color:#C9C9C9;
}
#u19007 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19008 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19009 {
  position:absolute;
  left:653px;
  top:622px;
  width:107px;
  height:76px;
}
#u19010 {
  position:absolute;
  left:2px;
  top:30px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19011 {
  position:absolute;
  left:693px;
  top:635px;
  width:41px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19012 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u19013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u19013 {
  position:absolute;
  left:692px;
  top:673px;
  width:37px;
  height:16px;
  color:#C9C9C9;
}
#u19014 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19016 {
  position:absolute;
  left:776px;
  top:622px;
  width:107px;
  height:76px;
}
#u19017 {
  position:absolute;
  left:2px;
  top:30px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19018 {
  position:absolute;
  left:807px;
  top:635px;
  width:54px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19019 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u19020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u19020 {
  position:absolute;
  left:815px;
  top:673px;
  width:37px;
  height:16px;
  color:#C9C9C9;
}
#u19021 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#66CCFF;
}
#u19022 {
  position:absolute;
  left:678px;
  top:714px;
  width:57px;
  height:20px;
  color:#66CCFF;
}
#u19023 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
