body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:925px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18428 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:836px;
}
#u18429 {
  position:absolute;
  left:500px;
  top:202px;
  width:425px;
  height:836px;
}
#u18430 {
  position:absolute;
  left:2px;
  top:410px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18431 {
  position:absolute;
  left:519px;
  top:269px;
  width:379px;
  height:671px;
}
#u18432 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18433 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:687px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18434 {
  position:absolute;
  left:519px;
  top:269px;
  width:379px;
  height:687px;
}
#u18435 {
  position:absolute;
  left:2px;
  top:336px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18436 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18437 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18438 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:66px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u18439 {
  position:absolute;
  left:519px;
  top:269px;
  width:379px;
  height:66px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u18440 {
  position:absolute;
  left:0px;
  top:30px;
  width:379px;
  word-wrap:break-word;
}
#u18441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:15px;
}
#u18441 {
  position:absolute;
  left:525px;
  top:273px;
  width:368px;
  height:15px;
}
#u18442 {
  position:absolute;
  left:2px;
  top:0px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18443 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u18444 {
  position:absolute;
  left:556px;
  top:301px;
  width:61px;
  height:20px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u18445 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u18446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u18446 {
  position:absolute;
  left:537px;
  top:301px;
  width:19px;
  height:21px;
  font-family:'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u18447 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u18448 {
  position:absolute;
  left:863px;
  top:301px;
  width:15px;
  height:16px;
  font-family:'MicrosoftTaiLe-Bold', 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u18449 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u18450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18450 {
  position:absolute;
  left:612px;
  top:143px;
  width:193px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18451 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u18452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:687px;
}
#u18452 {
  position:absolute;
  left:519px;
  top:269px;
  width:379px;
  height:687px;
}
#u18453 {
  position:absolute;
  left:2px;
  top:336px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:23px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u18454 {
  position:absolute;
  left:799px;
  top:563px;
  width:79px;
  height:23px;
  font-size:12px;
}
#u18455 {
  position:absolute;
  left:2px;
  top:3px;
  width:75px;
  word-wrap:break-word;
}
#u18456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:23px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u18456 {
  position:absolute;
  left:799px;
  top:402px;
  width:79px;
  height:23px;
  font-size:12px;
}
#u18457 {
  position:absolute;
  left:2px;
  top:3px;
  width:75px;
  word-wrap:break-word;
}
