body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1199px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22936 {
  position:absolute;
  left:0px;
  top:1px;
  width:1201px;
  height:76px;
}
#u22937 {
  position:absolute;
  left:2px;
  top:30px;
  width:1197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#3399FF;
}
#u22938 {
  position:absolute;
  left:0px;
  top:1px;
  width:178px;
  height:76px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#3399FF;
}
#u22939 {
  position:absolute;
  left:2px;
  top:27px;
  width:174px;
  word-wrap:break-word;
}
#u22940 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u22941 {
  position:absolute;
  left:178px;
  top:1px;
  width:129px;
  height:76px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u22942 {
  position:absolute;
  left:2px;
  top:27px;
  width:125px;
  word-wrap:break-word;
}
#u22943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u22943 {
  position:absolute;
  left:307px;
  top:1px;
  width:129px;
  height:76px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u22944 {
  position:absolute;
  left:2px;
  top:27px;
  width:125px;
  word-wrap:break-word;
}
#u22945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u22945 {
  position:absolute;
  left:435px;
  top:1px;
  width:129px;
  height:76px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u22946 {
  position:absolute;
  left:2px;
  top:27px;
  width:125px;
  word-wrap:break-word;
}
#u22947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u22947 {
  position:absolute;
  left:564px;
  top:1px;
  width:129px;
  height:76px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u22948 {
  position:absolute;
  left:2px;
  top:27px;
  width:125px;
  word-wrap:break-word;
}
#u22949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u22949 {
  position:absolute;
  left:692px;
  top:1px;
  width:129px;
  height:76px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u22950 {
  position:absolute;
  left:2px;
  top:27px;
  width:125px;
  word-wrap:break-word;
}
#u22951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u22951 {
  position:absolute;
  left:821px;
  top:1px;
  width:129px;
  height:76px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u22952 {
  position:absolute;
  left:2px;
  top:27px;
  width:125px;
  word-wrap:break-word;
}
#u22953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:56px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22953 {
  position:absolute;
  left:1077px;
  top:26px;
  width:83px;
  height:28px;
}
#u22954 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u22955 {
  position:absolute;
  left:-2px;
  top:66px;
}
#u22955_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1201px;
  height:21px;
  background-image:none;
}
#u22955_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:21px;
}
#u22956 {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:21px;
}
#u22957 {
  position:absolute;
  left:2px;
  top:2px;
  width:1197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22955_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1201px;
  height:21px;
  visibility:hidden;
  background-image:none;
}
#u22955_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:11px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22959 {
  position:absolute;
  left:0px;
  top:10px;
  width:1201px;
  height:11px;
}
#u22960 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
}
#u22961 {
  position:absolute;
  left:353px;
  top:0px;
  width:37px;
  height:21px;
}
#u22962 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22955_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:1201px;
  height:55px;
  visibility:hidden;
  background-image:none;
}
#u22955_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:11px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22964 {
  position:absolute;
  left:0px;
  top:10px;
  width:1201px;
  height:11px;
}
#u22965 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
}
#u22966 {
  position:absolute;
  left:481px;
  top:0px;
  width:37px;
  height:21px;
}
#u22967 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1209px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u22968 {
  position:absolute;
  left:-8px;
  top:10px;
  width:1209px;
  height:45px;
}
#u22969 {
  position:absolute;
  left:2px;
  top:14px;
  width:1205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6666FF;
}
#u22970 {
  position:absolute;
  left:156px;
  top:10px;
  width:218px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6666FF;
}
#u22971 {
  position:absolute;
  left:2px;
  top:12px;
  width:214px;
  word-wrap:break-word;
}
#u22972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6666FF;
}
#u22972 {
  position:absolute;
  left:374px;
  top:10px;
  width:218px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6666FF;
}
#u22973 {
  position:absolute;
  left:2px;
  top:12px;
  width:214px;
  word-wrap:break-word;
}
#u22955_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:1201px;
  height:55px;
  visibility:hidden;
  background-image:none;
}
#u22955_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:11px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22975 {
  position:absolute;
  left:0px;
  top:10px;
  width:1201px;
  height:11px;
}
#u22976 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
}
#u22977 {
  position:absolute;
  left:610px;
  top:0px;
  width:37px;
  height:21px;
}
#u22978 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1209px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u22979 {
  position:absolute;
  left:-8px;
  top:10px;
  width:1209px;
  height:45px;
}
#u22980 {
  position:absolute;
  left:2px;
  top:14px;
  width:1205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6666FF;
}
#u22981 {
  position:absolute;
  left:156px;
  top:10px;
  width:218px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6666FF;
}
#u22982 {
  position:absolute;
  left:2px;
  top:12px;
  width:214px;
  word-wrap:break-word;
}
#u22983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6666FF;
}
#u22983 {
  position:absolute;
  left:374px;
  top:10px;
  width:218px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6666FF;
}
#u22984 {
  position:absolute;
  left:2px;
  top:12px;
  width:214px;
  word-wrap:break-word;
}
#u22955_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:1201px;
  height:55px;
  visibility:hidden;
  background-image:none;
}
#u22955_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:11px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22986 {
  position:absolute;
  left:0px;
  top:10px;
  width:1201px;
  height:11px;
}
#u22987 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
}
#u22988 {
  position:absolute;
  left:738px;
  top:0px;
  width:37px;
  height:21px;
}
#u22989 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1209px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u22990 {
  position:absolute;
  left:-8px;
  top:10px;
  width:1209px;
  height:45px;
}
#u22991 {
  position:absolute;
  left:2px;
  top:14px;
  width:1205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6666FF;
}
#u22992 {
  position:absolute;
  left:156px;
  top:10px;
  width:218px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6666FF;
}
#u22993 {
  position:absolute;
  left:2px;
  top:12px;
  width:214px;
  word-wrap:break-word;
}
#u22994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6666FF;
}
#u22994 {
  position:absolute;
  left:374px;
  top:10px;
  width:218px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6666FF;
}
#u22995 {
  position:absolute;
  left:2px;
  top:12px;
  width:214px;
  word-wrap:break-word;
}
#u22955_state5 {
  position:relative;
  left:0px;
  top:0px;
  width:1201px;
  height:55px;
  visibility:hidden;
  background-image:none;
}
#u22955_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:11px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22997 {
  position:absolute;
  left:0px;
  top:10px;
  width:1201px;
  height:11px;
}
#u22998 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
}
#u22999 {
  position:absolute;
  left:867px;
  top:0px;
  width:37px;
  height:21px;
}
#u23000 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1209px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u23001 {
  position:absolute;
  left:-8px;
  top:10px;
  width:1209px;
  height:45px;
}
#u23002 {
  position:absolute;
  left:2px;
  top:14px;
  width:1205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6666FF;
}
#u23003 {
  position:absolute;
  left:156px;
  top:10px;
  width:218px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6666FF;
}
#u23004 {
  position:absolute;
  left:2px;
  top:12px;
  width:214px;
  word-wrap:break-word;
}
#u23005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6666FF;
}
#u23005 {
  position:absolute;
  left:374px;
  top:10px;
  width:218px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6666FF;
}
#u23006 {
  position:absolute;
  left:2px;
  top:12px;
  width:214px;
  word-wrap:break-word;
}
#u23007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6666FF;
}
#u23007 {
  position:absolute;
  left:592px;
  top:10px;
  width:218px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6666FF;
}
#u23008 {
  position:absolute;
  left:2px;
  top:12px;
  width:214px;
  word-wrap:break-word;
}
